aside.aside
	.aside__inner
		a.aside__logo(href='/') LOGO

		.aside__menu
			.aside__menu-item: a.aside__menu-link(href='#', class= page == 'catalog' ? 'active' : '') Каталог

			.aside__menu-item.aside__menu-item_sub
				a.aside__menu-link(href='#', class= page == 'cystallit' ? 'active' : '') CRYSTALLITE
				span 45
			.aside__submenu(class= page == 'cystallit-sills' || 'cystallit' ? 'is-open' : '')
				.aside__menu-item: a.aside__menu-link(href='#', class= page == 'cystallit-sills' ? 'active' : '') Подоконники
				.aside__menu-item: a.aside__menu-link(href='#') Откосы
				.aside__menu-item: a.aside__menu-link(href='#') Комплектующие

			.aside__menu-item.aside__menu-item_sub
				a.aside__menu-link(href='#') DANKE
				span 35
			.aside__submenu
				.aside__menu-item: a.aside__menu-link(href='#') Подоконники
				.aside__menu-item: a.aside__menu-link(href='#') Откосы
				.aside__menu-item: a.aside__menu-link(href='#') Комплектующие

			.aside__menu-item.aside__menu-item_sub
				a.aside__menu-link(href='#') WERZALIT
				span 12
			.aside__submenu
				.aside__menu-item: a.aside__menu-link(href='#') Подоконники
				.aside__menu-item: a.aside__menu-link(href='#') Откосы
				.aside__menu-item: a.aside__menu-link(href='#') Комплектующие

			.aside__menu-item.aside__menu-item_sub
				a.aside__menu-link(href='#') MOELLER
				span 12
			.aside__submenu
				.aside__menu-item: a.aside__menu-link(href='#') Подоконники
				.aside__menu-item: a.aside__menu-link(href='#') Откосы
				.aside__menu-item: a.aside__menu-link(href='#') Комплектующие

			.aside__menu-item: a.aside__menu-link(href='#') О компании
			.aside__menu-item: a.aside__menu-link(href='#') Сотрудничество
			.aside__menu-item: a.aside__menu-link(href='#') Оплата
			.aside__menu-item: a.aside__menu-link(href='#', class= page == 'delivery' ? 'active' : '') Доставка
			.aside__menu-item: a.aside__menu-link(href='#') Контакты

		.aside__label