footer.footer
	.inner

		.footer__firms
			a.footer__firms-item(href='#'): span CRYSTALLITE
			a.footer__firms-item(href='#'): span DANKE
			a.footer__firms-item(href='#'): span WERZALIT
			a.footer__firms-item(href='#'): span MOELLER

		.footer__menu
			a.footer__menu-item(href='#'): span Подоконники
			a.footer__menu-item(href='#'): span Откосы
			a.footer__menu-item(href='#'): span Откосы
			a.footer__menu-item(href='#'): span Сотрудничество
			a.footer__menu-item(href='#'): span Оплата
			a.footer__menu-item(href='#'): span Доставка
			a.footer__menu-item(href='#'): span Контакты

		.footer__info
			.footer__info-copy © 2016 Название компании
			.footer__info-pay
				.footer__info-pay-item: include ../img/ico-pay-visa.svg
				.footer__info-pay-item: include ../img/ico-pay-ym.svg
				.footer__info-pay-item: include ../img/ico-pay-wm.svg
				.footer__info-pay-item: include ../img/ico-pay-qiwi.svg
				.footer__info-pay-item: include ../img/ico-pay-mc.svg
			.footer__info-soc
				a.footer__info-soc-item(href='#'): include ../img/ico-footer-vk.svg
				a.footer__info-soc-item(href='#'): include ../img/ico-footer-fb.svg
				a.footer__info-soc-item(href='#'): include ../img/ico-footer-ig.svg
			.footer__info-create Разработка и дизайн<br>AMICO.STUDIO