header.header
	.inner
		.header__note Продажа подоконников с доставкой по СПб и Лен.области
		.header__contact
			span.phone +7 (812) 240 11 26
			span пн-вс 9:00-18:00
		.header__order
			a.btn(href='#', data-popup='.popup_call') ЗАКАЗАТЬ ЗАМЕР
		.header__menu
			a.header__menu-item.header__menu-item_search(href='#', data-focus='.f-header-search')
			a.header__menu-item.header__menu-item_calc(href='#')
			a.header__menu-item.header__menu-item_cart(href='#'): span 10
		.header__search.f-header-search
			form.search(method='post', action='/search.html')
				.search__input: input.js-search(type='text', name='search', placeholder='Подоконники Crystallit, например', data-method='POST', data-action='/data/search.json')
				.search__submit: input.btn(type='submit', value='ИСКАТЬ')
				.search__close: .btn(data-focus='close')

				.header__search-exemple
					span Crystallit венге
					span Заглушка Crystallit
					span Moller подоконники
					span Moller подоконники
					span Crystallit венге
					span Заглушка Crystallit
