


mixin cardPart(firm, img, name, oldPrice, newPrice, measure, label, labelPrice)
	.cards__item.cards__item_goods
		.cards__item-inner
			.cards__item-label
				if (label)
					.label.label_recom !{label}
				if (labelPrice)
					.label.label_sale !{labelPrice}
			if ( firm )
				.cards__item-firm: a(href='#') !{firm}
			.cards__item-img: img(src=img, alt=name)
			a.cards__item-name(href='#') !{name}
			.cards__item-price
				if (oldPrice)
					.cards__item-price-old !{oldPrice} Р
				.cards__item-price-new !{newPrice} Р
				if ( measure )
					.cards__item-price-measure !{measure}
			a.cards__item-link(href='#')
			.cards__item-cart



mixin costItem(width, type, name, val, note, disabled, array)


	.cost__row(class='w_#{width}')
		if (name)
			.cost__col.cost__col_name !{name}

		.cost__col.cost__col_mid

			if ( type == 'counter' )
				.cost__field.cost__field_counter(class= disabled ? 'is-disable' : '')
					input(type='text', name='', value= val)
					.cost__field-handle.cost__field-handle_dekr
					.cost__field-handle.cost__field-handle_inkr

			else if ( type == 'input' )
				.cost__field.cost__field_input(class= disabled ? 'is-disable' : '')
					if ( disabled )
						input(type='text', name='', value= val, disabled)
					else
						input(type='text', name='', value= val)

			else if ( type == 'search' )
				.cost__field.cost__field_search
					input(type='text', name='', value= val)

			else if ( type == 'brend' )
				.cost__field.cost__field_select(data-focus='select', class= disabled ? 'is-disable' : '')
					.cost__field-val= val
					.cost__field-handle
					.cost__field-clear
					if (!disabled)
						.cost__container
							input(type='radio', name='product_135413', value='Crystallite', checked='checked')
							input(type='radio', name='product_135413', value='Danke')
							input(type='radio', name='product_135413', value='Werzalit')
							input(type='radio', name='product_135413', value='Moeller')

			else if ( type == 'select' )
				.cost__field.cost__field_select(data-focus='select', class= disabled ? 'is-disable' : '')
					.cost__field-val= val
					.cost__field-handle
					.cost__field-clear
					if (!disabled)
						.cost__container
							input(type='radio', name='product_135413', value='15 см.')
							input(type='radio', name='product_135413', value='30 см.', checked='checked')
							input(type='radio', name='product_135413', value='45 см. (*)')
							input(type='radio', name='product_135413', value='60 см.')
							input(type='radio', name='product_135413', value='75 см.')
							input(type='radio', name='product_135413', value='90 см.', disabled='disabled')
							input(type='radio', name='product_135413', value='100 см.')
							input(type='radio', name='product_135413', value='110 см.')
							input(type='radio', name='product_135413', value='120 см.')
							input(type='radio', name='product_135413', value='150 см.')
							input(type='radio', name='product_135413', value='200 см.')

			else if ( type == 'filter' )
				.cost__field.cost__field_select(data-focus='select', class= disabled ? 'is-disable' : '')
					.cost__field-val= val
					.cost__field-handle
					.cost__field-clear
					if (!disabled)
						.cost__container
							input(type='radio', name='product_13555', value='По цене', checked='checked')
							input(type='radio', name='product_13555', value='По бренду')
							input(type='radio', name='product_13555', value='По барабану')



			else if ( type == 'materials' )
				.cost__field.cost__field_select(data-focus='select', class= disabled ? 'is-disable' : '')
					.c-material(style='background-image:url(img/materials/oak-natural.png)')
					.cost__field-val Дуб натуральный
					.cost__field-handle
					.cost__field-clear
					if (!disabled)
						.cost__container
							input(type='checkbox', name='material_1', data-preview='/img/materials/white.png', value='Белый')
							input(type='checkbox', name='material_2', data-preview='/img/materials/oak-white.png', value='Белый дуб')
							input(type='checkbox', name='material_3', data-label='hit', data-preview='/img/materials/oak-natural.png', value='Дуб натуральный', checked='checked')
							input(type='checkbox', name='material_4', data-preview='/img/materials/oak-light.png', value='Дуб светлый')
							input(type='checkbox', name='material_5', data-preview='/img/materials/oak-gold.png', value='Золотой дуб')
							input(type='checkbox', name='material_6', data-preview='/img/materials/oak-amber.png', value='Дуб янтарный' disabled='disabled')
							input(type='checkbox', name='material_7', data-preview='/img/materials/mramor.png', value='Мрамор')
							input(type='checkbox', name='material_8', data-preview='/img/materials/bristol.png', value='Бристол')
							input(type='checkbox', name='material_9', data-preview='/img/materials/palermo.png', value='Палермо')
							input(type='checkbox', name='material_10', data-preview='/img/materials/gloria.png', value='Глория')
							input(type='checkbox', name='material_11', data-preview='/img/materials/creme.png', value='Кремовый')
							input(type='checkbox', name='material_12', data-preview='/img/materials/saule.png', value='Сауле')
							input(type='checkbox', name='material_13', data-preview='/img/materials/pazl.png', value='Пазл')
							input(type='checkbox', name='material_14', data-preview='/img/materials/korrida.png', value='Коррида')
							input(type='checkbox', name='material_15', data-preview='/img/materials/antracit.png', value='Антрацит')

			else if ( type == 'result' )
				.cost__result !{val}

			else if ( type == 'btn' )
				.cost__add
					a.btn.js-add-prod-in-cart(href='#') !{val}

			else if ( type == 'remove')
				.cost__remove(data-tooltip='Удалить&nbsp;товар')

		if ( note )
			.cost__col.cost__col_note !{note}

mixin cardKit(img, name, price)
	.cards__item.cards__item_kit
		.cards__item-inner
			.cards__item-img: img(src=img, alt=name)
			a.cards__item-name(href='#') !{name}
			.cards__item-price !{price} руб.
			.cards__item-count: +costItem('1', 'counter', false, 0)



mixin materialItem(name, id, img, label, brunch)
	if (brunch)
		a.material__item(href='#', data-tooltip= name, data-id= id, data-bunch= brunch)
			.material__item-img(style='background-image:url(/img/materials/#{img}.png)')
			.material__item-name= name
			if (label)
				.material__item-label
					div(class='label label_#{label}')
						if ( label === 'hit' )
							| ХИТ ПРОДАЖ
	else
		a.material__item(href='#', data-tooltip= name, data-id= id)
			.material__item-img(style='background-image:url(/img/materials/#{img}.png)')
			.material__item-name= name
			if (label)
				.material__item-label
					div(class='label label_#{label}')
						if ( label === 'hit' )
							| ХИТ ПРОДАЖ