

.order__list
	.order__remove
		.order__remove-btn(data-tooltip='Очистить&nbsp;корзину', data-focus='.order__remove-popup')
		.order__remove-popup
			.order__remove-popup-close(data-focus='close')
			.order__remove-popup-title Очистить корзину
			.order__remove-popup-text Вы уверены что хотите удалить всё из корзины?
			.order__remove-popup-btn
				a.btn.js-clear-all-prods(href='#') УДАЛИТЬ
				a.btn.btn_grey(href='#', data-focus='close') ВЕРНУТЬСЯ В КОРЗИНУ

	.order__item(data-cost-item='380')
		.order__item-goods
			.order__item-inner
				.order__item-goods-img: img(src='/img/temp/goods-01.jpg')
				.order__item-goods-firm CRYSTALLIT
				.order__item-goods-name: span ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ
				.order__item-goods-price
					span.price-old 580 Р
					nobr
						span.price-act 380 Р
						span.price-measure м/кв

		.order__item-info
			.order__item-inner
				.cost
					+costItem('1-6', 'select', 'Ширина', '15 cм')
					+costItem('1-6', 'input', 'Длина(cм)', 0)
					+costItem('1-6', 'counter', 'Количество', 1)
					+costItem('1-6', '', '&nbsp;')
					+costItem('1-6', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-6', 'remove', '&nbsp;')


	.order__item(data-cost-item='200')
		.order__item-goods
			.order__item-inner
				.order__item-goods-img: img(src='/img/temp/goods-02.jpg')
				.order__item-goods-firm MOELLER
				.order__item-goods-name: span СОЕДИНИТЕЛЬНАЯ ДЕТАЛЬ MOELLER, ДЛИННА 490ММ
				.order__item-goods-price
					span.price-old 580 Р
					span.price-act 380 Р
					span.price-measure м/кв

		.order__item-info
			.order__item-inner
				.cost
					+costItem('1-6', 'select', 'Ширина', '-', false, true)
					+costItem('1-6', 'input', 'Длина(мм)', 490, false, true)
					+costItem('1-6', 'counter', 'Количество', 1)
					+costItem('1-6', '', '&nbsp;')
					+costItem('1-6', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-6', 'remove', '&nbsp;')


	.order__item(data-cost-item='201')
		.order__item-goods
			.order__item-inner
				.order__item-goods-img: img(src='/img/temp/goods-03.jpg')
				.order__item-goods-firm MOELLER
				.order__item-goods-name: span ПАНЕЛЬ ОТКОСА MOELLE, 6М БЕЛАЯ
				.order__item-goods-price
					span.price-old 580 Р
					span.price-act 380 Р
					span.price-measure м/кв

		.order__item-info
			.order__item-inner
				.cost
					+costItem('1-6', 'select', 'Ширина', '15 cм')
					+costItem('1-6', 'input', 'Длина(м)', 6, '*норма отпуска 6м')
					+costItem('1-6', 'counter', 'Количество', 1)
					+costItem('1-6', '', '&nbsp;')
					+costItem('1-6', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-6', 'remove', '&nbsp;')



	.order__add.hidden
		.order__add-inner
			.order__add-head
				.order__add-title Добавить еще товар
				.order__add-category
					.order__add-category-item.is-active(data-tab-link='sills', data-tab-group='calc') Подоконники
					.order__add-category-item(data-tab-link='slope', data-tab-group='calc') Откосные системы
					.order__add-category-item(data-tab-link='accessories', data-tab-group='calc') Комплектующие
			.order__add-info

				.cost.is-active(data-tab-targ='sills', data-tab-group='calc')
					+costItem('1-8', 'select', 'Бренд', 'Crystallit')
					+costItem('1-8_', 'materials', 'Выбор декора')
					+costItem('1-8', 'select', 'Ширина', '15 cм')
					+costItem('1-8', 'input', 'Длина(см)', 6)
					+costItem('1-8', 'counter', 'Количество', 1)
					+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')

				.cost(data-tab-targ='slope', data-tab-group='calc')
					+costItem('1-8', 'select', 'Бренд', 'Crystallit')
					+costItem('1-8_', 'materials', 'Выбор декора')
					+costItem('1-8', 'select', 'Ширина', '15 cм(*)')
					+costItem('1-8', 'input', 'Длина(м)', 2)
					+costItem('1-8', 'counter', 'Количество', 1)
					+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')

				.cost(data-tab-targ='accessories', data-tab-group='calc')
					+costItem('1-8', 'select', 'Бренд', 'Crystallit')
					+costItem('1-8_', 'materials', 'Выбор декора')
					+costItem('1-8', 'select', 'Ширина', '110 cм')
					+costItem('1-8', 'input', 'Длина(см)', 60)
					+costItem('1-8', 'counter', 'Количество', 1)
					+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
					+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')


	.order__legend
		.order__legend-item.order__legend-item_add
			.order__legend-inner
				a.order__legend-ico.js-order-add-item(href='#'): img(src='/img/ico-order-plus.svg')
				.order__legend-text: span Добавить еще один<br>товар в корзину

		.order__legend-item.order__legend-item_faq
			.order__legend-inner
				a.order__legend-ico(href='#'): img(src='/img/ico-order-quest.svg')
				.order__legend-text: span Как правильно оформить<br>заказ на подоконники

		.order__legend-item.order__legend-item_result
			.order__legend-inner
				.order__legend-text Итого к оплате
				.order__legend-val 5 694,5 руб.


