

.popup.popup_call
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Обратный звонок
				.popup__text Оставьте ваши контакты, мы перезвоним Вам в течении часа.
				.popup__form
					form.form.js-form(method='post', action='/data/test.json')

						.form__field.w_1
							.form__field-inner
								input(type='text', name='callName', data-required='true')
								.form__field-placeholder Имя #[span *]
								.form__field-message

						.form__field.w_1
							.form__field-inner
								input(type='text', name='callPhone', data-required='phone')
								.form__field-placeholder Телефон #[span *]
								.form__field-message
						.form__field.form__field_submit.w_2-3
							.form__field-inner
								input.btn(type='submit', value='ОТПРАВИТЬ')



.popup.popup_installation
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.dragbox
					.dragbox__inner Перетащите сюда файл
				.popup__title Заказать установку подоконника
				.popup__text Оставьте ваши контакты, мы&nbsp;перезвоним Вам в&nbsp;течении часа.
				.popup__form
					input.hidden(type='file', id='uploadFile')
					form.form.js-form(method='post', action='/data/test.json', data-form-name='files')
						.form__field.w_1
							.form__field-inner
								input(type='text', name='callName', data-required='true')
								.form__field-placeholder Ваше имя #[span *]
								.form__field-message

						.form__field.w_1
							.form__field-inner
								input(type='text', name='callPhone', data-required='phone')
								.form__field-placeholder Телефон #[span *]
								.form__field-message

						.files

						.form__field.form__field_add.w_1
							.form__field-inner
								label(for='uploadFile').input.input_file
									.input__placeholder Добавить фото
								.input__message.js-file-noupload-info
									| Файл не выбран
								.hint
									.hint__label ?
									span.hint__text
										i.hint__close
										.hint__inner.js-scroll-wrap Пример загрузки файла на сервер безопасный и довольно прост. Можно добавить новые условия и разрешить загружать изображения GIF и PNG, или любой другой вид файлов, которые Вы хотите. Если Вы не знакомы с PHP, этот пример может быть хорошим началом. | Пример загрузки файла на сервер безопасный и довольно прост. Можно добавить новые условия и разрешить загружать изображения GIF и PNG, или любой другой вид файлов, которые Вы хотите. Если Вы не знакомы с PHP, этот пример может быть хорошим началом.

						.form__field.form__field_submit.w_2-3
							.form__field-inner
								input.btn(type='submit', value='ОТПРАВИТЬ')




.popup.popup_info
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Ошибка
				.popup__text Файл слишком большой или не подходит

.popup.popup_share
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Поделиться
				.popup__form
					form.form.js-form(method='post', action='/data/test.json', data-form-name='files')
						.form__field.w_1
							.form__field-inner
								input(type='text', name='shareEmail', data-required='email')
								.form__field-placeholder Ваш E-mail
								.form__field-message

						.form__field.form__field_submit.w_1
							.form__field-inner
								input.btn(type='submit', value='ОТПРАВИТЬ')

				.popup__soc
					.popup__text или поделиться в соц сетях
					.popup__soc-list
						a(href='#').popup__soc-item: img(src='/img/soc/vk.png')
						a(href='#').popup__soc-item: img(src='/img/soc/fb.png')
						a(href='#').popup__soc-item: img(src='/img/soc/tw.png')
						a(href='#').popup__soc-item: img(src='/img/soc/ok.png')
						a(href='#').popup__soc-item: img(src='/img/soc/gp.png')


//-.popup.popup_gallery(style='display:block;')
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.gallery
					.gallery__main.clearfix
						.gallery__preview
							.gallery__preview-slider

								.gallery__preview-control
									.gallery__preview-control-arrow.gallery__preview-control-arrow_prev
									.gallery__preview-control-arrow.gallery__preview-control-arrow_next

								.gallery__preview-list
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-01_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-03_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-04_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-05_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-06_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-07_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-08_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-01_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-03_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-04_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-05_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-06_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-07_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-08_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-01_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-03_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-04_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-05_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-06_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-07_b.jpg')
									.gallery__preview-item: .gallery__preview-img: img(src='/img/temp/goods-08_b.jpg')
						.gallery__info
							.gallery__info-material
								.material.material_notext
									.material__inner.f-product-material
										.material__head
											.material__view
												.material__title Другие цвета
												br
												.material__view-item.is-active Цвет + название
												.material__view-item Цвет
										.material__list
											+materialItem('Белый', '01', 'white')
											+materialItem('Белый дуб', '03', 'oak-white')
											+materialItem('Дуб натуральный', '04', 'oak-natural')
											+materialItem('Дуб светлый', '05', 'oak-light')
											+materialItem('Золотой дуб', '06', 'oak-gold')
											+materialItem('Дуб янтарный', '07', 'oak-amber')
											+materialItem('Мрамор', '08', 'mramor')
											+materialItem('Бристол', '01', 'bristol')
											+materialItem('Палермо', '03', 'palermo')
											+materialItem('Глория', '04', 'gloria')
											+materialItem('Кремовый', '05', 'creme')
											+materialItem('Сауле', '06', 'saule')
											+materialItem('Пазл', '07', 'pazl')
											+materialItem('Коррида', '08', 'korrida')
											+materialItem('Антрацит', '01', 'antracit')
											.btn.btn_more(data-focus='.f-product-material')
											.material__btn
												.btn(data-focus='close') ГОТОВО
							.gallery__info-description
								.gallery__info-description-about
									.gallery__info-description-text
										.title О товаре
										.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque. Venenatis a condimentum vitae sapien pellentesque habitant. Arcu felis bibendum ut tristique et egestas quis. Elit duis tristique sollicitudin nibh sit amet commodo. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Hendrerit dolor magna eget est lorem. Tellus integer feugiat scelerisque varius morbi. Urna et pharetra pharetra massa. Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Rhoncus dolor purus non enim praesent elementum. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Ac feugiat sed lectus vestibulum. Purus faucibus ornare suspendisse sed nisi lacus. Venenatis a condimentum vitae sapien pellentesque habitant. Sed tempus urna et pharetra. Neque gravida in fermentum et sollicitudin ac. Feugiat vivamus at augue eget arcu dictum. Eu feugiat pretium nibh ipsum consequat nisl.
										ul
											li Производитель: #[b Cristallit]
											li Производитель: #[b Cristallit]
											li Производитель: #[b Cristallit]
											li Производитель: #[b Cristallit]
											li Производитель: #[b Cristallit]
								.gallery__info-description-btns
									.btn.btn_download
									.btn.btn_share

					.gallery__carousel
						.gallery__carousel-slider
							.gallery__carousel-control
								.gallery__carousel-control-arrow.gallery__carousel-control-arrow_prev: svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30'): path(fill='#1a1a1a', d='M1226.36,134.866l1.42-1.512-4.86-4.455,4.81-4.457-1.42-1.512-6.45,5.969Z', transform='translate(-1210 -114)')
								.gallery__carousel-control-arrow.gallery__carousel-control-arrow_next: svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30'): path(fill='#1a1a1a', d='M1263.64,134.866l-1.42-1.512,4.86-4.455-4.81-4.457,1.42-1.512,6.45,5.969Z', transform='translate(-1250 -114)')

							.gallery__carousel-list
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-01.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-03.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-04.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-05.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-06.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-07.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-08.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-01.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-03.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-04.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-05.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-06.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-07.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-08.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-01.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-03.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-04.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-05.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-06.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-07.jpg')
								.gallery__carousel-item: .gallery__carousel-img: img(src='/img/temp/goods-08.jpg')

