block vars

include mixins


doctype html

html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title HTML Page
		style.
			body {
				opacity: 0;
			}
		script(src='/js/jquery.min.js')
		block head
	body
		include aside
		.wrapper
			include header
			.website
				block content
			.overlay


		include popups
		link(rel='stylesheet', href='/css/style.css')/

		script(src='/js/vendor.js')
		script(src='/js/custom.js')

		block scripts