extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'cystallit'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		a.breadcrumbs__item(href='/') Каталог
		a.breadcrumbs__item(href='/') Crystallit
		span.breadcrumbs__item Подоконники Cystallit


	.brand.fill
		.fill__inner
			.brand__logo: img(src='/img/brandslogo/crystallit.svg')
			.brand__menu
				a.brand__menu-item.brand__menu-item_b(href='#') Подоконники
				a.brand__menu-item.brand__menu-item_b(href='#') Откосы
				a.brand__menu-item.brand__menu-item_b(href='#') Комплектующие
				a.brand__menu-item(href='#') Новости Crystallit
				a.brand__menu-item(href='#') Сотрудничество


	.poster.poster_wide
		.poster__slider
			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ


	.cards
		.cards__list.cards__list_large
			.cards__title Хиты продаж Crystallit
			.cards__slider.cards__slider_x4
				+cardPart('WERZALIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
				+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
				+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')



	.benefits
		.benefits__inner
			.benefits__title Характеристики подоконников Crystallit
			.benefits__list
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Страна производитель <br>
							b Россия
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к возникновению пятен от пищевых продуктов, в том числе лимона
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к воздействию ультрафиолета
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Морозостойкий до -50˚С
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Толщина горизонтальных стенок<br>
							b 3 мм
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к пеплу от сигарет
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Жаростойкий, до +90˚С, кратковременно до +180˚С
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Прост в обработке и монтаже
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Тольщина вертикальных стенок<br>
							b 1,5 мм
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Приятен на ощупь, обладает теплом древесины
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Сертифицирован
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к царапинам
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Изготавливается из отборной натуральной древесины (бук, хвоя) с добавлением полимерных смол


	.textual
		.textual__inner
			.textual__title О компании Crystallit
			h3 Отличительной чертой подоконников Werzalit является
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах, в условиях мороза, солнца и тропической влажности, круглосуточно в течении многих лет.
			ul
				li Продукция компании
				li Продукция компании
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по раз


	.material.material_text
		.material__inner
			.material__head
				.material__view
					.material__title Варианты отделки
					.material__view-item.is-active Цвет + название
					.material__view-item Цвет
			.material__list
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/white.png)')
					.material__item-name Белый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-white.png)')
					.material__item-name Белый дуб
					.material__item-label
						.label.label_hit ХИТ ПРОДАЖ
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-natural.png)')
					.material__item-name Дуб натуральный
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-light.png)')
					.material__item-name Дуб светлый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-gold.png)')
					.material__item-name Золотой дуб
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-amber.png)')
					.material__item-name Дуб янтарный
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/mramor.png)')
					.material__item-name Мрамор
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/bristol.png)')
					.material__item-name Бристол
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/palermo.png)')
					.material__item-name Палермо
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/gloria.png)')
					.material__item-name Глория
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/creme.png)')
					.material__item-name Кремовый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/saule.png)')
					.material__item-name Сауле
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/pazl.png)')
					.material__item-name Пазл
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/korrida.png)')
					.material__item-name Коррида
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/antracit.png)')
					.material__item-name Антрацит


	.cardslider
		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Crystallit
					span 35
				.cards__slider.cards__slider_x1
					+cardPart('CRYSTALLIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')

		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Danke
					span 15
				.cards__slider.cards__slider_x1
					+cardPart('DANKE', '/img/temp/goods-02.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв', false, '- 600 РУБ.')
					+cardPart('DANKE', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('DANKE', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')

		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Новости
					span 73
				.cards__slider.cards__slider_x1
					.cards__item.cards__item_announce.cards__item_article
						.cards__item-inner
							.cards__item-title: a(href='#') Монтаж на клей
							.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
							.cards__item-more
								a.btn.btn_grey(href='#') ПОДРОБНЕЕ
							.cards__item-img: img(src='/img/temp/article_01.jpg')

					.cards__item.cards__item_announce.cards__item_article
						.cards__item-inner
							.cards__item-title: a(href='#') Монтаж на клей
							.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
							.cards__item-more
								a.btn.btn_grey(href='#') ПОДРОБНЕЕ
							.cards__item-img: img(src='/img/temp/article_01.jpg')


		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Статьи
					span 66
				.cards__slider.cards__slider_x1
					.cards__item.cards__item_announce.cards__item_article
						.cards__item-inner
							.cards__item-title: a(href='#') Монтаж на клей
							.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
							.cards__item-more
								a.btn.btn_grey(href='#') ПОДРОБНЕЕ
							.cards__item-img: img(src='/img/temp/article_02.jpg')

					.cards__item.cards__item_announce.cards__item_article
						.cards__item-inner
							.cards__item-title: a(href='#') Монтаж на клей
							.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
							.cards__item-more
								a.btn.btn_grey(href='#') ПОДРОБНЕЕ
							.cards__item-img: img(src='/img/temp/article_02.jpg')


