extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'catalog'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Каталог

	h1.title КАТАЛОГ

	.catalog
		.catalog__title Бренды
		.catalog__list
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/brandslogo/crystallit.svg')
					.catalog__item-name: span CRYSTALLIT
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/brandslogo/werzalit.svg')
					.catalog__item-name: span DANKE
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/brandslogo/danke.svg')
					.catalog__item-name: span WERZALIT
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/brandslogo/moeller.svg')
					.catalog__item-name: span MOELLER

	.catalog
		.catalog__title Категории
		.catalog__list
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/cat-01.jpg')
					.catalog__item-name: span Подоконники
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/cat-02.jpg')
					.catalog__item-name: span Откосы
			a.catalog__item(href='#')
				.catalog__item-inner
					.catalog__item-logo: img(src='/img/cat-03.jpg')
					.catalog__item-name: span Комплектующие



	.textual
		.textual__inner
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается
			h3 Отличительной чертой подоконников Werzalit является
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах, в условиях мороза, солнца и тропической влажности, круглосуточно в течении многих лет.
			ul
				li Продукция компании
				li Продукция компании
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по раз
