extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'delivery'

block head
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Доставка

	.contact.fill
		.fill__inner
			.half
				.contact__title Контакты

				.contact__subtitle Наш адрес:
				.contact__text г. Санкт-Петербург, пр-т. Дальневосточный 14, ТЦ "Мебельвуд",  1-A, 1 эт.

				.contact__subtitle Телефон:
				.contact__text + 7 (812) 240-11-26

				.contact__subtitle E-mail:
				.contact__text info@tovar.market

				.contact__title Обратная связь

				.contact__text Напишите нам, если у Вас возникли вопросы или комментарии.

				.contact__feedback
					form.form.js-form(method='post', action='/data/test.json')

						.form__field.w_1
							.form__field-inner
								input(type='text', name='orderName', data-required='true')
								.form__field-placeholder Имя #[span *]
								.form__field-message

						.form__field.w_1
							.form__field-inner
								input(type='text', name='orderPhone')
								.form__field-placeholder Телефон
								.form__field-message
						.form__field.w_1
							.form__field-inner
								textarea(data-required='true')
								.form__field-placeholder Ваше сообщение
								.form__field-message
						.form__field.form__field_submit.w_2-3
							.form__field-inner
								input.btn(type='submit', value='ОТПРАВИТЬ')




			.contact__map#map-wrap

			script.
				ymaps.ready(function () {
					var myMap = new ymaps.Map('map-wrap', {
								center: [59.909817, 30.446917],
								zoom: 13,
								controls: []
							}),
							myPlacemark = new ymaps.Placemark([59.909817, 30.446917],
									{},
									{
										iconLayout: 'default#image',
										iconImageHref: '/img/mapmarker.png',
										iconImageSize: [54, 74],
										iconImageOffset: [-27, -70]
									});
					//myMap.controls.add('zoomControl');

					var zoomControl = new ymaps.control.ZoomControl({
						options: {
							position: {
								top: 20,
								left: 20
							},
							size: 'small'
						}
					});
					myMap.controls.add(zoomControl);

					myMap.geoObjects.add(myPlacemark);

					myMap.behaviors.disable('scrollZoom');

				});




