extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'delivery'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Доставка

	.delivery
		.half
			.delivery__inner
				.delivery__title Доставка по Санкт-Петербургу

				ul
					li Заказ на сумму более 3000 рублей - #[b Бесплатно]
					li Заказ на сумму менее 3000 рублей - #[b 400 рублей]

				p #[b Срочная доставка 800 рублей] (в любое время при наличии)

				.delivery__title Доставка по Лен.области

				ul
					li Первые 10 км — 600 рублей, далее 25 рублей за каждый километр к сумме заказа

				p.red Для уточнения необходимо связаться с менеджером магазина.

				.delivery__title Самовывоз

				ul
					li Минимальная сумма заказа отсутствует. Услуга #[b бесплатна]
					li Срок резервирования – три дня.
					li Самовывоз осуществляется по адресу: Дальневосточный пр. 14, МЦ "Mebelwood", оф 4-09.

				.delivery__title Доставка по России и СНГ

				ul
					li Доставка в регионы осуществляется только по безналичному расчёту и после 100% предоплаты.
					li Минимальная сумма заказа для доставки в регионы #[b 10&nbsp;000&nbsp;рублей].
					li Доставка осуществляется транспортными компаниями:
					li «Деловые Линии», или же по выбору клиента.
					li Цена доставки формируется от суммы, веса заказа и определяется тарифами транспортных компаний.

				p.red Для уточнения необходимо связаться с менеджером магазина.

				.delivery__title Доставка до транспортной компании

				ul
					li Заказ на сумму более 10 000 рублей – #[b бесплатна]
					li Заказ на сумму менее 10 000 рублей – #[b 400&nbsp;рублей]

		.half
			.delivery__inner.delivery__inner_dim
				.delivery__title Габаритный и негабаритный размер
				.delivery__ico: img(src='/img/delivery-dim.png')
				.delivery__text
					p Габаритный размер
					ul.ul-measure
						li Длинна или высота не должны превышать 6м
					p Негабаритный размер #[b +400 рублей]
					ul.ul-measure
						li Длинна или высота превышают 6м

			.delivery__inner.delivery__inner_mes
				.delivery__title Внешний вид товара
				.delivery__ico: img(src='/img/delivery-note.png')
				.delivery__text
					p Пожалуйста, проверяйте внешний вид товара и комплектацию в присутствии курьера!
					p После того, как товар доставлен и принят вами, претензии по внешнему виду (сколы, трещины, царапины) и комплектации не принимаются.

			.delivery__inner.delivery__inner_att
				.delivery__title Важно, доставка ТК
				.delivery__ico: img(src='/img/delivery-box.png')
				.delivery__text
					p Магазин не несет ответственности за повреждения товара, произошедшие по вине транспортных компаний и почтовых служб.







