extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content
	.poster
		.poster__slider
			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ

			.poster__item
				.poster__item-img(style='background-image:url(/img/temp/slider_01.jpg);')
				.poster__item-info
					.poster__item-inner
						.poster__item-title Новогодние скидки Crystallit
						.poster__item-text Сегодня и всю неделю скидки 30%
						.poster__item-more
							a.btn(href='#') ПОДРОБНЕЕ
		.poster__goods
			.cards__list.cards__list_middle
				.cards__title Товар дня
				.cards__slider.cards__slider_x1
					+cardPart('WERZALIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')


	.legend
		.legend__item
			.legend__item-inner
				.legend__item-ico: img(src='/img/legend-delivery.png', alt='Бесплатная доставка')
				.legend__item-info
					.legend__item-title Бесплатная доставка
					.legend__item-text Бесплатно по СПб при заказе от 5 000 руб.
		.legend__item
			.legend__item-inner
				.legend__item-ico: img(src='/img/legend-dim.png', alt='Бесплатный замер')
				.legend__item-info
					.legend__item-title Бесплатный замер
					.legend__item-text Мы приедем и измерим точный размер подоконника бесплатно
		.legend__item
			.legend__item-inner
				.legend__item-ico: img(src='/img/legend-prepay.png', alt='Бесплатная доставка')
				.legend__item-info
					.legend__item-title Покупка без предоплаты
					.legend__item-text Вы можете заказать подоконник и его установку без предоплаты
		.legend__item
			.legend__item-inner
				.legend__item-ico: img(src='/img/legend-cal.png', alt='Доставка на след.день')
				.legend__item-info
					.legend__item-title Доставка на след.день
					.legend__item-text Мы привезем Вам подоконник на следующий день после заказа

	.cards
		.cards__list.cards__list_large
			.cards__title Популярные товары
			.cards__slider.cards__slider_x8
				+cardPart('WERZALIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
				+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
				+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
				+cardPart('WERZALIT', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
				+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
				+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
				+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')



	.material.material_text
		.material__inner
			.material__head
				.material__view
					.material__title Варианты отделки
					.material__view-item.is-active Цвет + название
					.material__view-item Цвет
			.material__list
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/white.png)')
					.material__item-name Белый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-white.png)')
					.material__item-name Белый дуб
					.material__item-label
						.label.label_hit ХИТ ПРОДАЖ
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-natural.png)')
					.material__item-name Дуб натуральный
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-light.png)')
					.material__item-name Дуб светлый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-gold.png)')
					.material__item-name Золотой дуб
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/oak-amber.png)')
					.material__item-name Дуб янтарный
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/mramor.png)')
					.material__item-name Мрамор
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/bristol.png)')
					.material__item-name Бристол
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/palermo.png)')
					.material__item-name Палермо
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/gloria.png)')
					.material__item-name Глория
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/creme.png)')
					.material__item-name Кремовый
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/saule.png)')
					.material__item-name Сауле
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/pazl.png)')
					.material__item-name Пазл
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/korrida.png)')
					.material__item-name Коррида
				a.material__item(href='#')
					.material__item-img(style='background-image:url(/img/materials/antracit.png)')
					.material__item-name Антрацит


	.cardslider
		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Crystallit
					span 35
				.cards__slider.cards__slider_x1
					+cardPart('CRYSTALLIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')

		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Danke
					span 15
				.cards__slider.cards__slider_x1
					+cardPart('DANKE', '/img/temp/goods-02.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв', false, '- 600 РУБ.')
					+cardPart('DANKE', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('DANKE', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')

		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Werzalit
					span 73
				.cards__slider.cards__slider_x1
					+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-05.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('WERZALIT', '/img/temp/goods-06.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')

		.cardslider__item
			.cards__list.cards__list_middle
				.cards__title
					a(href='#') Moeller
					span 66
				.cards__slider.cards__slider_x1
					+cardPart('MOELLER', '/img/temp/goods-04.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
					+cardPart('MOELLER', '/img/temp/goods-05.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
					+cardPart('MOELLER', '/img/temp/goods-06.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
					+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')



	.cards
		.cards__list
			.cards__item.cards__item_announce.cards__item_adv
				.cards__item-inner
					.cards__item-title ЗАКАЖИТЕ<br>ПРОФЕССИОНАЛЬНУЮ<br>УСТАНОВКУ<br>ПОДОКОННИКА
					.cards__item-price от 2300 руб.
					.cards__item-more
						a.btn(href='#') ЗАКАЗАТЬ
					.cards__item-img: img(src='/img/adv.jpg')

			.cards__item.cards__item_announce.cards__item_article
				.cards__item-inner
					.cards__item-charter: a(href='#') Статьи
					.cards__item-title: a(href='#') Монтаж на клей
					.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
					.cards__item-more
						a.btn.btn_grey(href='#') ПОДРОБНЕЕ
					.cards__item-img: img(src='/img/temp/article_01.jpg')

			.cards__item.cards__item_announce.cards__item_article
				.cards__item-inner
					.cards__item-charter: a(href='#') Статьи
					.cards__item-title: a(href='#') Монтаж на клей
					.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
					.cards__item-more
						a.btn.btn_grey(href='#') ПОДРОБНЕЕ
					.cards__item-img: img(src='/img/temp/article_01.jpg')

			.cards__item.cards__item_announce.cards__item_advice
				.cards__item-inner
					.cards__item-charter: a(href='#') Совет дня
					.cards__item-title: a(href='#') Монтаж на клей
					.cards__item-text Зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: «имманентная»
					.cards__item-img: img(src='/img/advise-bg.png')

	.textual
		.textual__inner
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается
			h3 Отличительной чертой подоконников Werzalit является
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах, в условиях мороза, солнца и тропической влажности, круглосуточно в течении многих лет.
			ul
				li Продукция компании
				li Продукция компании
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по раз
