extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	.textual
		.textual__inner

			h3: a(href='/home.html') Главная
			h3: a(href='/brand.html') Брэнд
			h3: a(href='/catalog.html') Каталог
			h3: a(href='/sills.html') Подоконники
			h3: a(href='/product.html') Продукт
			h3: a(href='/delivery.html') Доставка
			h3: a(href='/order.html') Корзина
			h3: a(href='/contact.html') Контакты
			h3: a(href='/search.html') Поиск

			br
			h3: a(href='#', data-popup=".popup_installation") Заказать установку подоконника
			h3: a(href='#', data-popup=".popup_share") Поделиться
			h3: a(href='#', data-gallery='/data/gallery.json') Галлерея



