extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'order'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Корзина

	h1.title КОРЗИНА

	.order
		.order__title 1. Ваша корзина
		include layout/order-list

		form.js-form(method='post', action='/data/test.json')
			.order__title 2. Адрес доставки
			.order__address
				.order__address-form
					.form

						.form__field.w_2-3
							.form__field-inner
								input(type='text', name='orderAddress', data-required='true')
								.form__field-placeholder Адрес
								//-.form__field-message

						.form__field.w_1-3
							.form__field-inner
								.btn ОТМЕТИТЬ АДРЕС НА КАРТЕ

						.form__field.w_4-12
							.form__field-inner
								input(type='text', name='orderCity', data-required='true')
								.form__field-placeholder Город
								//-.form__field-message

						.form__field.w_5-12
							.form__field-inner
								input(type='text', name='orderStreet', data-required='true')
								.form__field-placeholder Улица
								//-.form__field-message

						.form__field.w_1-4
							.form__field-inner
								input(type='text', name='orderHouse')
								.form__field-placeholder Дом
								.form__field-message

						.form__field.w_1-4
							.form__field-inner
								input(type='text', name='orderPodezd')
								.form__field-placeholder Подъезд
								.form__field-message

						.form__field.w_1-4
							.form__field-inner
								input(type='text', name='orderDomofon')
								.form__field-placeholder Домофон
								.form__field-message

						.form__field.w_1-4
							.form__field-inner
								input(type='text', name='orderFloor')
								.form__field-placeholder Этаж
								.form__field-message

						.form__field.w_1-4
							.form__field-inner
								input(type='text', name='orderRoom')
								.form__field-placeholder Кв./Офис
								.form__field-message



			.order__title 3. Контактная информация
			.order__contact
				.order__contact-form
					.form
						.form__field.w_1-2
							.form__field-inner
								input(type='text', name='orderName', data-required='true')
								.form__field-placeholder Имя #[span *]
								.form__field-message
						.form__field.w_1-2
							.form__field-inner
								input(type='text', name='orderSecName', data-required='true')
								.form__field-placeholder Фамилия  #[span *]
								.form__field-message
						.form__field.w_1-2
							.form__field-inner
								input(type='text', name='orderEmail', data-required='email')
								.form__field-placeholder E-mail #[span *]
								.form__field-message
						.form__field.w_1-2
							.form__field-inner
								input(type='text', name='orderPhone', data-required='true')
								.form__field-placeholder Телефон
								.form__field-message
						.form__field.w_1
							.form__field-inner
								input(type='text', name='email')
								.form__field-placeholder Комментарий к заказу. Нужен пропуск? Злая собака?
								.form__field-message
						.form__field.form__field_submit.w_3
							.form__field-inner
								input.btn(type='submit', value='ОТПРАВИТЬ ЗАКАЗ')
