extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		a.breadcrumbs__item(href='/') Каталог
		a.breadcrumbs__item(href='/') Crystallit
		span.breadcrumbs__item Подоконники Cystallit

	.product
		.product__inner
			.product__view
				.product__view-label
					.label.label_recom РЕКОМЕНДУЕМ
					.label.label_hit ХИТ ПРОДАЖ
				.product__view-img: img(src='/img/temp/goods-01_b.jpg')
				.product__view-list.js-product-preview
					.product__view-item.is-active(data-id='01' data-src='/img/temp/goods-01_b.jpg', data-label='<div class="label label_recom">РЕКОМЕНДУЕМ</div><div class="label label_hit">ХИТ ПРОДАЖ</div>'): span: img(src='/img/temp/goods-01.jpg')
					.product__view-item(data-id='03' data-src='/img/temp/goods-03_b.jpg'): span: img(src='/img/temp/goods-03.jpg')
					.product__view-item(data-id='04' data-src='/img/temp/goods-04_b.jpg'): span: img(src='/img/temp/goods-04.jpg')
					.product__view-item(data-id='05' data-src='/img/temp/goods-05_b.jpg'): span: img(src='/img/temp/goods-05.jpg')
					.product__view-item(data-id='06' data-src='/img/temp/goods-06_b.jpg'): span: img(src='/img/temp/goods-06.jpg')
					.product__view-item(data-id='07' data-src='/img/temp/goods-07_b.jpg'): span: img(src='/img/temp/goods-07.jpg')
					.product__view-item(data-id='08' data-src='/img/temp/goods-08_b.jpg'): span: img(src='/img/temp/goods-08.jpg')

			.product__info
				.product__title Подоконник Crystallit, белый матовый, белый матовый
				.product__material
					.product__material-item.is-active(data-tab-link='matte', data-tab-group='material') Матовый
					.product__material-item(data-tab-link='glossy', data-tab-group='material') Глянцевый
				.product__price
					.product__price-val 365 руб.
					.product__price-dim Цена за 1 м/кв
					.product__price-available
						.product__price-available-title Наличие:
						.product__price-available-view: span.available.available_mid
						.product__price-available-status достаточно
				.product__colors
					//-.product__colors-title Другие цвета
					.product__colors-list
						.material.material_notext
							.material__inner.f-product-material
								.material__head
									.material__view
										.material__title Другие цвета
										.material__view-item.is-active Цвет + название
										.material__view-item Цвет

								.material__list.is-active(data-tab-targ='matte', data-tab-group='material')
									+materialItem('Белый', '01', 'white', false)
									+materialItem('Белый дуб', '03', 'oak-white', 'hit')
									+materialItem('Дуб натуральный', '04', 'oak-natural', false)
									+materialItem('Дуб светлый', '05', 'oak-light', false)
									+materialItem('Золотой дуб', '06', 'oak-gold', false)
									+materialItem('Дуб янтарный', '07', 'oak-amber', false)
									+materialItem('Мрамор', '08', 'mramor', false)
									+materialItem('Бристол', '01', 'bristol', false)
									+materialItem('Палермо', '03', 'palermo', false)
									+materialItem('Глория', '04', 'gloria', false)
									+materialItem('Кремовый', '05', 'creme', false)
									+materialItem('Сауле', '06', 'saule', false)
									+materialItem('Пазл', '07', 'pazl', false)
									+materialItem('Коррида', '08', 'korrida', false)
									+materialItem('Антрацит', '01', 'antracit', false)
									.btn.btn_more(data-focus='.f-product-material')
									.material__btn
										.btn(data-focus='close') ГОТОВО
								.material__list(data-tab-targ='glossy', data-tab-group='material')
									a.material__item(href='#', data-tooltip='Белый', data-id='03')
										.material__item-img(style='background-image:url(/img/materials/white.png)')
										.material__item-name Белый
									a.material__item(href='#', data-tooltip='Дуб натуральный', data-id='05')
										.material__item-img(style='background-image:url(/img/materials/oak-natural.png)')
										.material__item-name Дуб натуральный
									a.material__item(href='#', data-tooltip='Дуб светлый', data-id='04')
										.material__item-img(style='background-image:url(/img/materials/oak-light.png)')
										.material__item-name Дуб светлый
									a.material__item(href='#', data-tooltip='Золотой дуб', data-id='06')
										.material__item-img(style='background-image:url(/img/materials/oak-gold.png)')
										.material__item-name Золотой дуб
									a.material__item(href='#', data-tooltip='Мрамор', data-id='07')
										.material__item-img(style='background-image:url(/img/materials/mramor.png)')
										.material__item-name Мрамор
									a.material__item(href='#', data-tooltip='Бристол', data-id='08')
										.material__item-img(style='background-image:url(/img/materials/bristol.png)')
										.material__item-name Бристол
									a.material__item(href='#', data-tooltip='Глория', data-id='01')
										.material__item-img(style='background-image:url(/img/materials/gloria.png)')
										.material__item-name Глория
									a.material__item(href='#', data-tooltip='Кремовый', data-id='03')
										.material__item-img(style='background-image:url(/img/materials/creme.png)')
										.material__item-name Кремовый
									a.material__item(href='#', data-tooltip='Сауле', data-id='04')
										.material__item-img(style='background-image:url(/img/materials/saule.png)')
										.material__item-name Сауле
									a.material__item(href='#', data-tooltip='Коррида', data-id='05')
										.material__item-img(style='background-image:url(/img/materials/korrida.png)')
										.material__item-name Коррида
									a.material__item(href='#', data-tooltip='Антрацит', data-id='06')
										.material__item-img(style='background-image:url(/img/materials/antracit.png)')
										.material__item-name Антрацит
									.btn.btn_more(data-focus='.f-product-material')
									.material__btn
										.btn(data-focus='close') ГОТОВО
				.product__featurs
					p Производитель: #[span Crystallite]
					p Декоры: #[span Однотонные]
					p Материал: #[span Дерево]
					p Степень блеска: #[span Матовый]
					p Материал: #[span Дерево]
					p Степень блеска: #[span Матовый]
					.product__featurs-more: a.link(href='#') Все характеристики

				.product__delivery
					.product__delivery-title Доставка по СПб
					.product__delivery-text от 5 000 руб. бесплатно
					.product__delivery-title Доставка по Лен.области
					.product__delivery-text Уточняйте стоимость у менеждера
					.product__delivery-title Доставка по России и СНГ
					.product__delivery-text Уточняйте стоимость у менеждера

				.product__feedbacks
					.product__feedbacks-stars
						// .stars_0, .stars_0-5, .stars_1, .stars_1-5, .stars_2, .stars_2-5...
						.stars.stars_3-5

					.product__feedbacks-status: a.link(href='#') Отзывы (3)

				.product__pay.f-product-pay
					.product__pay-title Способы оплаты
					.product__pay-list
						.product__pay-item: img(src='/img/ico-pay-color-yandex.png')
						.product__pay-item: img(src='/img/ico-pay-color-qiwi.png')
						.product__pay-item: img(src='/img/ico-pay-color-sb.png')
						.product__pay-item: img(src='/img/ico-pay-color-visa.png')
						.product__pay-item: img(src='/img/ico-pay-color-yandex.png')
						.product__pay-item: img(src='/img/ico-pay-color-qiwi.png')
						.product__pay-item: img(src='/img/ico-pay-color-sb.png')
						.product__pay-item: img(src='/img/ico-pay-color-visa.png')
						.btn.btn_more(data-focus='.f-product-pay')
						.product__pay-btn
							.btn(data-focus='close') ГОТОВО

			.product__add
				.order__add-head
					.order__add-title Калькулятор товара
					.order__add-category
						.order__add-category-item.is-active(data-tab-link='sills', data-tab-group='calc') Подоконники
						.order__add-category-item(data-tab-link='slope', data-tab-group='calc') Откосные системы
						.order__add-category-item(data-tab-link='accessories', data-tab-group='calc') Комплектующие
				.order__add-info

					.cost.is-active(data-tab-targ='sills', data-tab-group='calc')
						+costItem('1-8', 'brend', 'Бренд', 'Crystallit')
						+costItem('1-8_', 'materials', 'Выбор декора')
						+costItem('1-8', 'select', 'Ширина', '15 cм')
						+costItem('1-8', 'input', 'Длина(см)', 6)
						+costItem('1-8', 'counter', 'Количество', 1)
						+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
						+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')

					.cost(data-tab-targ='slope', data-tab-group='calc')
						+costItem('1-8', 'brend', 'Бренд', 'Danke')
						+costItem('1-8_', 'materials', 'Выбор декора')
						+costItem('1-8', 'select', 'Ширина', '50 cм')
						+costItem('1-8', 'input', 'Длина(м)', 2)
						+costItem('1-8', 'counter', 'Количество', 1)
						+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
						+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')

					.cost(data-tab-targ='accessories', data-tab-group='calc')
						+costItem('1-8', 'brend', 'Бренд', 'Werzalt')
						+costItem('1-8_', 'materials', 'Выбор декора')
						+costItem('1-8', 'select', 'Ширина', '110 cм')
						+costItem('1-8', 'input', 'Длина(см)', 60)
						+costItem('1-8', 'counter', 'Количество', 1)
						+costItem('1-8_', 'result', 'Стоимость', '732,5 руб.')
						+costItem('1-8', 'btn', '&nbsp;', 'В КОРЗИНУ')


			.product__kit

				.cards
					.cards__list.cards__list_small
						.cards__slider.cards__slider_x4
							+cardKit('/img/temp/goods-01.jpg', 'Подоконник werzalit, белый матовый', '901')
							+cardKit('/img/temp/goods-02.jpg', 'Подоконник crystallit, белый глянцевый', '1 110')
							+cardKit('/img/temp/goods-03.jpg', 'Подоконник crystallit, белый дуб', '901')
							//+cardKit('/img/temp/goods-04.jpg', 'Подоконник crystallit, белый дуб глянцевый', '901')
							//+cardKit('/img/temp/goods-05.jpg', 'Подоконник danke, белый матовый', '901')
							//+cardKit('/img/temp/goods-06.jpg', 'Подоконник danke, белый глянцевый', '1 110')
							//+cardKit('/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', '380')




	.examples
		.examples__inner.clearfix
			.examples__head
				.examples__title Примеры работ #[span 26]
				.examples__brands
					.examples__brands-item.is-active(data-tab-link='cristallit', data-tab-group='example-material') Cristallit
					.examples__brands-item(data-tab-link='moller', data-tab-group='example-material') Moller
					.examples__brands-item(data-tab-link='werzalit', data-tab-group='example-material') Werzalit
			.examples__colors
				.material.material_notext
					.material__inner.f-product-material
						.material__head
							.material__view
								.material__title Выбирите цвет
								.material__view-item.is-active Цвет + название
								.material__view-item Цвет
						.material__list.is-active(data-tab-targ='cristallit', data-tab-group='example-material')
							+materialItem('Белый', '01', 'white', false, 'example_1')
							+materialItem('Белый дуб', '03', 'oak-white', 'hit', 'example_2')
							+materialItem('Дуб натуральный', '04', 'oak-natural', false, 'example_3')
							+materialItem('Дуб светлый', '05', 'oak-light', false, 'example_4')
							+materialItem('Золотой дуб', '06', 'oak-gold', false, 'example_5')
							+materialItem('Дуб янтарный', '07', 'oak-amber', false, 'example_6')
							+materialItem('Мрамор', '08', 'mramor', false, 'example_1')
							+materialItem('Бристол', '01', 'bristol', false, 'example_2')
							+materialItem('Палермо', '03', 'palermo', false,  'example_3')
							+materialItem('Глория', '04', 'gloria', false, 'example_4')
							+materialItem('Кремовый', '05', 'creme', false, 'example_5')
							+materialItem('Сауле', '06', 'saule', false, 'example_6')
							+materialItem('Пазл', '07', 'pazl', false, 'example_1')
							+materialItem('Коррида', '08', 'korrida', false, 'example_2')
							+materialItem('Антрацит', '01', 'antracit', false, 'example_3')
							.btn.btn_more(data-focus='.f-product-material')
							.material__btn
								.btn(data-focus='close') ГОТОВО
						.material__list(data-tab-targ='moller', data-tab-group='example-material')
							+materialItem('Белый', '01', 'white', false, 'example_1')
							+materialItem('Дуб натуральный', '04', 'oak-natural', false, 'example_2')
							+materialItem('Дуб светлый', '05', 'oak-light', false, 'example_3')
							+materialItem('Золотой дуб', '06', 'oak-gold', false, 'example_4')
							+materialItem('Мрамор', '08', 'mramor', false, 'example_5')
							+materialItem('Бристол', '01', 'bristol', false, 'example_6')
							+materialItem('Глория', '03', 'gloria', false, 'example_1')
							+materialItem('Кремовый', '03', 'creme', false, 'example_2')
							+materialItem('Сауле', '03', 'saule', false, 'example_3')
							+materialItem('Коррида', '03', 'korrida', false, 'example_4')
							+materialItem('Антрацит', '03', 'antracit', false, 'example_6')
							.btn.btn_more(data-focus='.f-product-material')
							.material__btn
								.btn(data-focus='close') ГОТОВО
						.material__list(data-tab-targ='werzalit', data-tab-group='example-material')
							+materialItem('Белый', '01', 'white', false, 'example_1')
							+materialItem('Дуб натуральный', '04', 'oak-natural', false, 'example_2')
							+materialItem('Дуб светлый', '05', 'oak-light', false, 'example_3')
							+materialItem('Мрамор', '08', 'mramor', false, 'example_4')
							+materialItem('Бристол', '01', 'bristol', false, 'example_5')
							+materialItem('Кремовый', '03', 'creme', false, 'example_6')
							+materialItem('Сауле', '03', 'saule', false, 'example_1')
							+materialItem('Коррида', '03', 'korrida', false, 'example_2')
							+materialItem('Антрацит', '03', 'antracit', false, 'example_3')
							.btn.btn_more(data-focus='.f-product-material')
							.material__btn
								.btn(data-focus='close') ГОТОВО
			.examples__gallery
				.examples__gallery-list
					.examples__gallery-item(data-bunch='example_1'): .examples__gallery-img: img(src='/img/temp/example-01_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_2'): .examples__gallery-img: img(src='/img/temp/example-02_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_2'): .examples__gallery-img: img(src='/img/temp/example-03_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_3'): .examples__gallery-img: img(src='/img/temp/example-04_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_3'): .examples__gallery-img: img(src='/img/temp/example-05_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_4'): .examples__gallery-img: img(src='/img/temp/example-06_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_4'): .examples__gallery-img: img(src='/img/temp/example-01_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_4'): .examples__gallery-img: img(src='/img/temp/example-02_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_5'): .examples__gallery-img: img(src='/img/temp/example-03_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_6'): .examples__gallery-img: img(src='/img/temp/example-04_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_7'): .examples__gallery-img: img(src='/img/temp/example-05_s.jpg', alt='')
					.examples__gallery-item(data-bunch='example_7'): .examples__gallery-img: img(src='/img/temp/example-06_s.jpg', alt='')





	.order.order_bg
		.order__title Добавлено в корзину
		.order__list

			.order__item(data-cost-item='380')
				.order__item-goods
					.order__item-inner
						.order__item-goods-img: img(src='/img/temp/goods-01.jpg')
						.order__item-goods-firm CRYSTALLIT
						.order__item-goods-name: span ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ
						.order__item-goods-price
							span.price-old 580 Р
							nobr
								span.price-act 380 Р
								span.price-measure м/кв

				.order__item-info
					.order__item-inner
						.cost
							+costItem('1-6', 'select', 'Ширина', '15 cм')
							+costItem('1-6', 'input', 'Длина(cм)', 0)
							+costItem('1-6', 'counter', 'Количество', 1)
							+costItem('1-6', '', '&nbsp;')
							+costItem('1-6', 'result', 'Стоимость', '732,5 руб.')
							+costItem('1-6', 'remove', '&nbsp;')


			.order__item(data-cost-item='200')
				.order__item-goods
					.order__item-inner
						.order__item-goods-img: img(src='/img/temp/goods-02.jpg')
						.order__item-goods-firm MOELLER
						.order__item-goods-name: span СОЕДИНИТЕЛЬНАЯ ДЕТАЛЬ MOELLER, ДЛИННА 490ММ
						.order__item-goods-price
							span.price-old 580 Р
							span.price-act 380 Р
							span.price-measure м/кв

				.order__item-info
					.order__item-inner
						.cost
							+costItem('1-6', 'select', 'Ширина', '-', false, true)
							+costItem('1-6', 'input', 'Длина(мм)', 490, false, true)
							+costItem('1-6', 'counter', 'Количество', 1)
							+costItem('1-6', '', '&nbsp;')
							+costItem('1-6', 'result', 'Стоимость', '732,5 руб.')
							+costItem('1-6', 'remove', '&nbsp;')

		.order__buy
			a.btn.btn_white(href='#') КУПИТЬ В 1 КЛИК
			a.btn.btn_white(href='#') ПЕРЕЙТИ КОРЗИНУ


	.cards.cards_fill
		.cards__list.cards__list_small
			.cards__title Вам может понадобиться
			.cards__slider.cards__slider_x4
				+cardPart(false, '/img/temp/goods-01.jpg', 'Подоконник werzalit, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-02.jpg', 'Подоконник crystallit, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-03.jpg', 'Подоконник crystallit, белый дуб', '580', '901')
				+cardPart(false, '/img/temp/goods-04.jpg', 'Подоконник crystallit, белый дуб глянцевый', false, '901')
				+cardPart(false, '/img/temp/goods-05.jpg', 'Подоконник danke, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-06.jpg', 'Подоконник danke, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '380')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '901')
				+cardPart(false, '/img/temp/goods-01.jpg', 'Подоконник werzalit, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-02.jpg', 'Подоконник crystallit, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-03.jpg', 'Подоконник crystallit, белый дуб', false, '901')
				+cardPart(false, '/img/temp/goods-04.jpg', 'Подоконник crystallit, белый дуб глянцевый', false, '901')
				+cardPart(false, '/img/temp/goods-05.jpg', 'Подоконник danke, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-06.jpg', 'Подоконник danke, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '380')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '901')




	.about
		.about__inner
			.about__title О товаре
			.about__text
				p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении.В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол.
				p Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах.
			.about__image
				img(src='/img/brandslogo/crystallit.png', alt='')

	.benefits
		.benefits__inner
			.benefits__title Технические преимущества
			.benefits__list
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Не восприимчив к влаге
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к возникновению пятен от пищевых продуктов, в том числе лимона
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к воздействию ультрафиолета
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Морозостойкий до -50˚С
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Стойкий к любым моющим средствам, в том числе содежащим хлор и к нитрорастворителям
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к пеплу от сигарет
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Жаростойкий, до +90˚С, кратковременно до +180˚С
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Прост в обработке и монтаже
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Высокопрочен к удару
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Приятен на ощупь, обладает теплом древесины
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Сертифицирован
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Устойчив к царапинам
				.benefits__item
					.benefits__item-inner
						.benefits__item-img: img(src='/img/temp/goods-03.jpg')
						.benefits__item-text Изготавливается из отборной натуральной древесины (бук, хвоя) с добавлением полимерных смол


	.cards.cards_fill
		.cards__list
			.cards__title Способ монтажа подоконников Crystallit
			.cards__slider.cards__slider_x4
				.cards__item.cards__item_announce.cards__item_adv
					.cards__item-inner
						.cards__item-title ЗАКАЖИТЕ<br>ПРОФЕССИОНАЛЬНУЮ<br>УСТАНОВКУ<br>ПОДОКОННИКА
						.cards__item-price от 2300 руб.
						.cards__item-more
							a.btn(href='#') ЗАКАЗАТЬ
						.cards__item-img: img(src='/img/adv.jpg')

				.cards__item.cards__item_announce.cards__item_article
					.cards__item-inner
						.cards__item-charter: a(href='#') Статьи
						.cards__item-title: a(href='#') Монтаж на клей
						.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
						.cards__item-more
							a.btn.btn_grey(href='#') ПОДРОБНЕЕ
						.cards__item-img: img(src='/img/temp/article_01.jpg')

				.cards__item.cards__item_announce.cards__item_article
					.cards__item-inner
						.cards__item-charter: a(href='#') Статьи
						.cards__item-title: a(href='#') Монтаж на клей
						.cards__item-text Приезжаем со своим Приезжаем со своим оборудованием. Приезжаем со своим оборудованием.
						.cards__item-more
							a.btn.btn_grey(href='#') ПОДРОБНЕЕ
						.cards__item-img: img(src='/img/temp/article_01.jpg')

				.cards__item.cards__item_announce.cards__item_advice
					.cards__item-inner
						.cards__item-charter: a(href='#') Совет дня
						.cards__item-title: a(href='#') Монтаж на клей
						.cards__item-text Зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: «имманентная»
						.cards__item-img: img(src='/img/advise-bg.png')

	.delivery.fill
		.fill__inner
			.delivery__title Доставка

			.half
				.delivery__subtitle Доставка по Санкт-Петербургу

				ul
					li Заказ на сумму более 3000 рублей - #[b Бесплатно]
					li Заказ на сумму менее 3000 рублей - #[b 400 рублей]

				p #[b Срочная доставка 800 рублей] (в любое время при наличии)

				.delivery__subtitle Доставка по Лен.области

				ul
					li Первые 10 км — 600 рублей, далее 25 рублей за каждый километр к сумме заказа

				p.red Для уточнения необходимо связаться с менеджером магазина.

				.delivery__subtitle Самовывоз

				ul
					li Минимальная сумма заказа отсутствует. Услуга #[b бесплатна]
					li Срок резервирования – три дня.
					li Самовывоз осуществляется по адресу: Дальневосточный пр. 14, МЦ "Mebelwood", оф 4-09.

			.half
				.delivery__subtitle Доставка по России и СНГ

				ul
					li Доставка в регионы осуществляется только по безналичному расчёту и после 100% предоплаты.
					li Минимальная сумма заказа для доставки в регионы #[b 10&nbsp;000&nbsp;рублей].
					li Доставка осуществляется транспортными компаниями:
					li «Деловые Линии», или же по выбору клиента.
					li Цена доставки формируется от суммы, веса заказа и определяется тарифами транспортных компаний.

				p.red Для уточнения необходимо связаться с менеджером магазина.

				.delivery__subtitle Доставка до транспортной компании

				ul
					li Заказ на сумму более 10 000 рублей – #[b бесплатна]
					li Заказ на сумму менее 10 000 рублей – #[b 400&nbsp;рублей]



	.comment.fill
		.fill__inner
			.comment__title Отзывы #[span 1]
			.comment__btn: a.btn(href='#') НАПИСАТЬ ОТЗЫВ
			hr
			.comment__item
				.comment__item-author
					.comment__item-name Геннадий
					.comment__item-date 17 ноября 2016
				.comment__item-info
					.comment__item-text.comment__item-text_comm Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении.
					.comment__item-text.comment__item-text_advant Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении.
					.comment__item-text.comment__item-text_limit В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах, в условиях мороза, солнца и тропической влажности, круглосуточно в течении многих лет.
					.comment__item-rating
						a.comment__item-like(href='#'): span 3
						a.comment__item-dislike(href='#'): span 0
			hr
			.comment__item
				.comment__item-author
					.comment__item-name Константин Константинопольский
					.comment__item-date 17 ноября 2016
				.comment__item-info
					.comment__item-text.comment__item-text_comm Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении.
					.comment__item-rating
						a.comment__item-like(href='#'): span 3
						a.comment__item-dislike(href='#'): span 0
			hr
			.comment__pager
				.pager
					a.pager__item.pager__item_prev(href='#')
					a.pager__item(href='#') 1
					a.pager__item.is-active(href='#') 2
					a.pager__item(href='#') 3
					.pager__item.pager__item_dots ...
					a.pager__item(href='#') 6
					a.pager__item.pager__item_next(href='#')

	.cards.cards_fill
		.cards__list.cards__list_small
			.cards__title Похожие товары
			.cards__slider.cards__slider_x4
				+cardPart(false, '/img/temp/goods-01.jpg', 'Подоконник werzalit, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-02.jpg', 'Подоконник crystallit, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-03.jpg', 'Подоконник crystallit, белый дуб', '580', '901')
				+cardPart(false, '/img/temp/goods-04.jpg', 'Подоконник crystallit, белый дуб глянцевый', false, '901')
				+cardPart(false, '/img/temp/goods-05.jpg', 'Подоконник danke, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-06.jpg', 'Подоконник danke, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '380')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '901')
				+cardPart(false, '/img/temp/goods-01.jpg', 'Подоконник werzalit, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-02.jpg', 'Подоконник crystallit, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-03.jpg', 'Подоконник crystallit, белый дуб', '580', '901')
				+cardPart(false, '/img/temp/goods-04.jpg', 'Подоконник crystallit, белый дуб глянцевый', false, '901')
				+cardPart(false, '/img/temp/goods-05.jpg', 'Подоконник danke, белый матовый', false, '901')
				+cardPart(false, '/img/temp/goods-06.jpg', 'Подоконник danke, белый глянцевый', false, '1 110')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '380')
				+cardPart(false, '/img/temp/goods-07.jpg', 'Подоконник crystallit, белый дуб', false, '901')

