extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'search'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Поиск

	h1.title Результаты поиска

	.searcher.f-search-result
		form.search(method='post', action='/search.html')
			.search__input: input.js-search(type='text', name='search', placeholder='Подоконники Crystallit, например', data-method='POST', data-action='/data/search.json')
			.search__submit: input.btn(type='submit', value='ИСКАТЬ')
			.search__close: .btn(data-focus='close')


	.cards
		.cards__list.cards__list_large
			+cardPart('WERZALIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
			.cards__item.cards__item_announce.cards__item_advice
				.cards__item-inner
					.cards__item-charter: a(href='#') Совет дня
					.cards__item-title: a(href='#') Монтаж на клей
					.cards__item-text Зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: «имманентная»
					.cards__item-img: img(src='/img/advise-bg.png')

	.pager.pager_perse
		a.pager__item.pager__item_prev(href='#')
		a.pager__item(href='#') 1
		a.pager__item.is-active(href='#') 2
		a.pager__item(href='#') 3
		.pager__item.pager__item_dots ...
		a.pager__item(href='#') 6
		a.pager__item.pager__item_next(href='#')
