extends layout/template

block vars
	//- var jsTemplate = 'index'; // page-specific js file for logic describing
	-var page = 'cystallit-sills'

block head

block content

	.breadcrumbs
		a.breadcrumbs__item(href='/') Главная
		span.breadcrumbs__item Подоконники Cystallit

	h1.title Подоконники Crystallit

	.cost.cost_perse
		+costItem('1-4', 'materials', 'Выбор декора')
		+costItem('1-6', 'filter', 'Сортировать', 'По цене')

	.cards
		.cards__list.cards__list_large
			+cardPart('WERZALIT', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
			+cardPart('CRYSTALLIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
			+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '901', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-01.jpg', 'ПОДОКОННИК WERZALIT, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('MOELLER', '/img/temp/goods-02.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-03.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', '580', '901', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-04.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ ГЛЯНЦЕВЫЙ', false, '901', 'м/кв')
			+cardPart('WERZALIT', '/img/temp/goods-05.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ МАТОВЫЙ', false, '901', 'м/кв')
			+cardPart('DANKE', '/img/temp/goods-06.jpg', 'ПОДОКОННИК DANKE, БЕЛЫЙ ГЛЯНЦЕВЫЙ', false, '1 110', 'м/кв', 'РЕКОМЕНДУЕМ')
			+cardPart('DANKE', '/img/temp/goods-07.jpg', 'ПОДОКОННИК CRYSTALLIT, БЕЛЫЙ ДУБ', false, '380', 'м/кв')
			.cards__item.cards__item_announce.cards__item_advice
				.cards__item-inner
					.cards__item-charter: a(href='#') Совет дня
					.cards__item-title: a(href='#') Монтаж на клей
					.cards__item-text Зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия «текст»: «имманентная»
					.cards__item-img: img(src='/img/advise-bg.png')

	.pager.pager_perse
		a.pager__item.pager__item_prev(href='#')
		a.pager__item(href='#') 1
		a.pager__item.is-active(href='#') 2
		a.pager__item(href='#') 3
		.pager__item.pager__item_dots ...
		a.pager__item(href='#') 6
		a.pager__item.pager__item_next(href='#')

	.textual
		.textual__inner
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается
			h3 Отличительной чертой подоконников Werzalit является
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. Подоконники Werzalit производятся из экологически чистой древесины, а не из отходов деревообработки, методом прессования мелкой древесной стружки с дуропластовыми смолами при высоком давлении. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по различным параметрам в лабораториях и на открытых испытательных стендах, в условиях мороза, солнца и тропической влажности, круглосуточно в течении многих лет.
			ul
				li Продукция компании
				li Продукция компании
			p Отличительной чертой подоконников Werzalit является уникальная технология их производства. В результате получается монолитный материал высокой плотности с оптимальным сращиванием высококачественного стружечного материала и смол. Продукция компании проходит строгий и тщательный контроль качества по раз
