
body {
	background-color: #ededed;
}

.red{
	color: $colorRed;
}

%middleImg {

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
}


%tabLink {
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	line-height: 30px;
	padding: 0 20px;
	@include border-radius(5px);
	cursor: pointer;
	@include user-select();

	&:hover {
		color: #000;
	}

	&.is-active {
		background: $colorYellow;
		color: #000;
	}
}



%title{
	font-size: 26px;
	color: #000;
	font-family: 'helveticaneuecyr', sans-serif;
	font-weight: 600;

	@include breakpoint($bp) {
		font-size: 30px;
	}
}


%roundBtn{
	padding: 0;
	width: 44px;
	height: 44px;
	@include border-radius(50%);
	background: $colorYellow;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #000;
		@include transform(rotate(45deg));
	}

	&:before {
		width: 20px;
		height: 2px;
		margin-left: -10px;
		margin-top: -1px;
	}

	&:after {
		width: 2px;
		height: 20px;
		margin-left: -1px;
		margin-top: -10px;
	}

	&:hover {
		background-color: $colorYellowHover;
	}
}



.w{
	&_1{
		width: 100%;
	}

	&_1-2{
		width: (100% / 2);
	}

	&_1-4{
		width: (100% / 4);
	}
	&_3-4{
		width: (3 * 100% / 4);
	}

	&_1-6{
		width: (100% / 6);
	}

	&_5-6{
		width: (5 * 100% / 6);
	}


	&_1-3{
		width: (100% / 3);
	}
	&_2-3{
		width: (2 * 100% / 3);
	}

	&_1-5{
		width: (100% / 5);
	}
	&_2-5{
		width: (2 * 100% / 5);
	}
	&_3-5{
		width: (3 * 100% / 5);
	}


	&_1-8{
		width: (100% / 8);
	}
	&_1-8_{
		width: (1.5 * 100% / 8);
	}

	&_4-12{
		width: (4 * 100% / 12);
	}
	&_5-12{
		width: (5 * 100% / 12);
	}

}

.wrapper  {
	height: 100%;
	min-height: 100%;
	position: relative;
	height: auto !important;
	overflow: hidden;
	left: 0;
	padding-left: $asideWidth;
	@include box-sizing();
}

.website {
	position: relative;
	padding: 0 10px ($footerHeight + 15px);

	@include breakpoint($bp) {
		padding: 0 20px ($footerHeight + 15px);
	}
}

.btn {
	font-size: 12px;
	text-align: center;
	color: #000;
	background-color: $colorYellow;
	display: inline-block;
	@include border-radius(100px);
	cursor: pointer;
	text-decoration: none;
	padding: 16px 30px 14px;
	@include user-select();
	@include box-sizing();

	&_grey {
		background-color: #ededed;
	}

	&:hover {
		background-color: $colorYellowHover;
	}

	&_more{
		width: 44px;
		height: 44px;
		border: none;
		padding: 0;
		position: relative;
		vertical-align: middle;
		display: inline-block;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
		}

		&:before {
			width: 20px;
			height: 2px;
			margin-left: -10px;
			margin-top: -1px;
		}

		&:after {
			width: 2px;
			height: 20px;
			margin-left: -1px;
			margin-top: -10px;
		}
	}

	&_white{
		background-color: #fff;

		&:hover {
			background-color: #f0f0f0;
		}
	}
}


nobr{
	white-space: nowrap;
}



.fill{

	&__inner{
		@include border-radius(5px);
		background-color: #fff;
		padding: 20px 15px;
		position: relative;
	}
}


.title {

	@extend %title;
	padding: 0 10px;
	margin: 25px 0;

}

.label{
	font-size: 10px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	@include border-radius(100px);
	color: #fff;
	padding: 0 11px;
	margin: 0 6px 8px 0;

	&_hit{
		background: $colorGreen;
	}
	&_new{
		background: $colorBlue;
	}
	&_recom{
		background: $colorRed;
	}
	&_sale{
		background: $colorYellow;
		color: #000;
	}
}



.fill,
.poster,
.legend,
.about,
.examples,
.benefits,
.catalog,
.cards,
.material,
.textual{
	margin: 10px 0;

	@include breakpoint($bp) {
		margin: 20px 0;
	}
}


.fill,
.material,
.textual,
.benefits,
.delivery,
.product,
.catalog__item,
.benefits__item,
.cardslider__item,
.about,
.examples,
.cards__block,
.cards_fill,
.cards__item_kit,
.cards__item_goods,
.cards__item_announce,
.poster__slider,
.poster__goods,
.legend__item,
.order__item-goods,
.order__item-info,
.order__legend-item,
.order__add,
.form__field
{
	padding: 5px;

	@include breakpoint($bp) {
		padding: 10px
	}
}






.poster {


	&__slider {
		width: 3 * (100% / 4);
		float: left;

		.slick {

			&-list {
				@include border-radius(5px);
				-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
			}

			&-arrow {
				position: absolute;
				display: block;
				@include border-radius(50%);
				background: #fff no-repeat 50% 50%;
				background-size: cover;
				width: 50px;
				height: 50px;
				top: 50%;
				margin-top: -25px;
				z-index: 10;
				color: transparent;
				cursor: pointer;
				@include box-shadow(0 2px 3px rgba(0, 0, 0, .3));

				&:active {
					@include box-shadow(0 0 0 rgba(0, 0, 0, .3));
				}

				svg {
					width: 100%;
					height: 100%;

					path {
						fill: #000;
					}
				}

				&:hover {
					svg {
						width: 100%;
						height: 100%;

						path {
							fill: $colorYellow;
						}
					}
				}
			}

			&-prev {
				left: 20px;
			}
			&-next {
				right: 20px;
			}

			&-dots {
				position: absolute;
				bottom: 30px;
				right: 20px;

				li {
					display: inline-block;
					margin-left: 10px;

					button {
						display: block;
						width: 15px;
						height: 15px;
						@include border-radius(50%);
						background: #fff;
						color: transparent;
						cursor: pointer;
					}

					&.slick-active {

						button {
							background: $colorYellow;
							@include box-shadow(0 2px 3px rgba(0, 0, 0, .3));
						}
					}
				}

			}
		}
	}

	&__item {
		background-color: #22548c;
		font-family: 'helveticaneuecyr', sans-serif;
		color: #fff;
		height: 410px;

		&-img {
			width: 62%;
			float: left;
			height: 100%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-info {
			margin-left: 62%;
			height: 100%;
			font-size: 0;

			@include box-sizing();

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		&-inner {
			display: inline-block;
			vertical-align: middle;
			padding: 0 9.3%;
			@include box-sizing();
			max-width: 100%;
			font-size: 13px;

			@include breakpoint($bp) {
				font-size: 14px;
			}
		}

		&-title {
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 30px;

			@include breakpoint($bp) {
				font-size: 36px;
			}
		}

		&-text {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 25px;
			padding-right: 50px;

			@include breakpoint($bp) {
				font-size: 20px;
			}
		}

		&-more {
		}
	}

	&__goods {
		margin-left: 3 * (100% / 4);
		width: 1 * (100% / 4);
		@include box-sizing();
		height: 420px;
	}



	&_wide{

		.poster__slider{
			width: 100%;
			float: none;
		}
	}
}



.brand{

	font-size: 0;

	&__logo{
		display: inline-block;
		width: 25%;
		vertical-align: middle;
		text-align: center;

		img{
			max-width: 100%;
		}
	}


	&__menu{
		display: inline-block;
		font-size: 13px;
		width: 75%;
		vertical-align: middle;

		@include breakpoint($bp) {
			font-size: 14px;
		}

		&-item{
			display: inline-block;
			vertical-align: baseline;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 100%;
				position: absolute;
				height: 2px;
				bottom: -5px;
				background: #ededed;
			}

			&:not(:last-child){
				margin-right: 40px;
			}


			&_b{
				font-size: 18px;
				font-family: 'helveticaneuecyr', sans-serif;
				font-weight: 500;
				color: #000;

				&:after{
					bottom: -2px;
				}

				@include breakpoint($bp) {
					font-size: 20px;
				}
			}

			&:hover{
				color: $colorYellow;

				&:after{
					background: $colorYellow;
				}

			}
		}
	}
}


.legend {

	font-size: 0;

	&__item {

		width: 25%;
		@include box-sizing();
		display: inline-block;
		font-size: 13px;
		vertical-align: top;

		@include breakpoint($bp) {
			font-size: 14px;
		}

		&-inner {
			background: #fff;
			@include border-radius(5px);
			height: 100px;
			position: relative;
			@include box-sizing();
		}

		&-ico {
			width: 80px;
			text-align: center;
			height: 100px;
			font-size: 0;
			float: left;

			@extend %middleImg;
		}

		&-info {
			margin-left: 80px;
			padding-top: 20px;
			padding-right: 10px;
		}

		&-title {
			font-size: 14px;
			font-family: 'helveticaneuecyr', sans-serif;
			font-weight: 500;
			margin-bottom: 5px;
			color: #000;

			@include breakpoint($bp) {
				font-size: 16px;
			}
		}

		&-text {
			font-size: 13px;

			@include breakpoint($bp) {
				font-size: 14px;
			}
		}

	}
}

.breadcrumbs {
	padding: 0 10px;
	margin: 20px 0;

	a {
		&:hover {
			color: $colorYellow;
			text-decoration: underline;
		}
	}

	span {
		color: #000;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;

		&:not(:first-child) {
			padding-left: 30px;
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 6px;
				height: 9px;
				background: url("/img/bc-arrow.svg") no-repeat 50% 50%;
				position: absolute;
				top: 3px;
				left: 12px;
			}
		}
	}
}


.about{

	&__inner{
		background: #fff;
		@include border-radius(5px);
		padding: 20px;
		overflow: hidden;
	}

	&__title{
		@extend %title;

		margin-bottom: 10px;
		padding: 0 10px;

	}

	&__text{
		float: left;
		width: 75%;
		@include box-sizing();
		padding: 0 10px;
	}

	&__image{
		float: left;
		width: 25%;
		@include box-sizing();
		padding: 0 10px;
		text-align: center;

		img{
			max-width: 100%;
		}
	}
}


.benefits{

	&__inner{
		background: #fff;
		@include border-radius(5px);
		padding: 15px;
	}

	&__title{
		@extend %title;

		margin-bottom: 15px;
		padding: 0 10px;

	}

	&__list{
		font-size: 0;
	}

	&__item{
		font-size: 13px;
		color: #000;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		@include box-sizing();

		@include breakpoint($bp) {
			font-size: 14px;
		}

		&-inner{
			@include border-radius(5px);
			border: 1px solid #d3d3d3;
			padding: 5px;
			height: 90px;
		}

		&-img{
			height: 100%;
			width: 75px;
			float: left;
			@extend %middleImg;
		}

		&-text{
			margin-left: 80px;
			height: 100%;
			overflow: hidden;
			@include box-sizing();
			padding: 5px 0;

			b{
				font-size: 18px;
				font-family: 'helveticaneuecyr', sans-serif;
				font-weight: 600;


				@include breakpoint($bp) {
					font-size: 20px;
				}
			}
		}
	}
}


.catalog {


	&__title {
		@extend %title;

		padding: 0 10px;
		margin-bottom: 5px;

	}

	&__list {
		font-size: 0;
		position: relative;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		@include box-sizing();
		width: 25%;

		font-size: 0;

		&:hover {
			.catalog__item-inner {
				border-color: $colorYellow;
			}
		}

		&-inner {
			background: #fff;
			@include box-sizing();
			@include border-radius(5px);
			position: relative;
			border: 1px solid transparent;
		}

		&-logo {
			height: 150px;
			border-bottom: 1px solid #f5f4f2;

			@extend %middleImg;
		}

		&-name {
			height: 70px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
				color: #000;
				font-family: 'helveticaneuecyr', sans-serif;
				font-weight: 500;

				font-size: 18px;
				@include breakpoint($bp) {
					font-size: 20px;
				}
			}
		}
	}
}

.cards {



	&__block {
		height: 410px;
	}



	&__title {
		@extend %title;

		//padding: 0 7.5%;
		padding: 0 20px;

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		@include breakpoint($bp) {
			font-size: 30px;
		}

		span {
			color: #7d7d7d;
			font-size: 21px;
			margin-left: 10px;
		}
	}

	&__slider {

	}

	&__item {

		&_goods {

			display: inline-block;
			width: 25%;
			vertical-align: top;
			text-align: center;
			@include box-sizing();
			font-size: 13px;

			@include breakpoint($bp) {
				font-size: 14px;
			}

			&:hover {
				.cards__item-link {
					opacity: 1;
				}

				.cards__item-cart {
					opacity: 1;
				}

				.cards__item-firm {
					color: $colorYellow;
				}
			}

			.cards__item {

				&-inner {
					background: #fff;
					@include box-sizing();
					@include border-radius(5px);
					height: 352px;
					//padding: 17px 7.5%;
					padding: 17px 20px;
					position: relative;
					border: 1px solid transparent;
				}

				&-label {
					position: absolute;
					top: 12px;
					//left: 7.5%;
					left: 20px;

				}

				&-firm {
					text-align: right;
					margin-bottom: 14px;

					a {
						color: inherit;
					}
				}

				&-img {
					height: 183px;
					margin-bottom: 18px;

					@extend %middleImg;
				}

				&-name {
					display: block;
					color: #000;
					text-decoration: none;
					overflow: hidden;
					height: 30px;
					margin-bottom: 20px;

					@include breakpoint($bp){
						height: 33px;
					}

					&:hover {
						text-decoration: underline;
					}
				}

				&-price {

					font-family: 'helveticaneuecyr', sans-serif;

					&-old {
						display: inline-block;
						font-weight: 300;
						margin-right: 10px;
						text-decoration: line-through;
					}

					&-new {
						display: inline-block;
						font-weight: 600;
						font-size: 21px;
						color: #000;

						@include breakpoint($bp) {
							font-size: 24px;
						}
					}

					&-measure {
						display: block;
						font-weight: 400;
						font-size: 12px;
						color: #000;
					}
				}

				&-link {
					display: block;
					width: 44px;
					height: 44px;
					@include box-sizing();
					@include border-radius(50%);
					background: #ededed url("/img/ico-arrow-next.svg") no-repeat 50% 50%;
					position: absolute;
					left: 4%;
					bottom: 20px;
					cursor: pointer;
					opacity: 0;
					@include transition(opacity 0.2s ease);

					&:hover {
						background-color: $colorYellowHover;
					}
				}

				&-cart {
					display: block;
					width: 44px;
					height: 44px;
					@include box-sizing();
					@include border-radius(50%);
					background: $colorYellow url("/img/ico-cart.svg") no-repeat 50% 50%;
					position: absolute;
					right: 4%;
					bottom: 20px;
					cursor: pointer;
					opacity: 0;
					@include transition(opacity 0.2s ease);

					&:hover {
						background-color: $colorYellowHover;
					}
				}
			}
		}

		&_announce {

			width: 25%;
			@include box-sizing();
			display: inline-block;
			font-size: 13px;

			vertical-align: top;
			color: #000;

			@include breakpoint($bp) {
				font-size: 14px;
			}

			.cards__item {

				&-inner {
					background: #fff;
					@include border-radius(5px);
					height: 352px;
					//padding: 35px 7.5%;
					padding: 35px 20px;
					position: relative;
					@include box-sizing();
				}

				&-charter {
					margin-bottom: 15px;
					position: relative;
					z-index: 1;

					a {
						color: #7d7d7d;
						text-decoration: none;

						&:hover {
							color: $colorYellow;
						}
					}
				}

				&-img {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 0;
					@include user-select();

					img {
						width: 100%;
						display: block;
						@include border-radius(0 0 5px 5px);
					}
				}

				&-title {
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 10px;
					position: relative;
					z-index: 1;

					a {
						color: inherit;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&-text {
					position: relative;
					z-index: 1;
				}

				&-more {
					position: absolute;
					bottom: 30px;
					//left: 7.5%;
					left: 20px;
					z-index: 1;

					.btn {
						min-width: 80px;
					}
				}

			}

			&.cards__item_advice {
				color: #fff;

				.cards__item-inner {
					background-color: #e2c54a;
				}

				.cards__item-charter {
					a {
						color: #fff;

						&:hover {
							color: #fff;
							text-decoration: underline;
						}
					}
				}

				.btn {
					background-color: #fff;
				}
			}

			&.cards__item_adv {

				.cards__item-title {
					font-size: 16px;
					margin-bottom: 35px;
				}

				.cards__item-price {
					@extend %title;

					color: $colorYellow;

					position: relative;
					z-index: 1;

				}
			}

		}

	}



	&__list {
		font-size: 0;
		position: relative;

		.slick {

			&-slider {
				position: static;
			}

			&-list {
				@include border-radius(5px);
				-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
			}

			&-arrow {
				position: absolute;
				display: block;
				@include border-radius(50%);
				width: 30px;
				height: 30px;
				top: 0;
				z-index: 10;
				color: transparent;
				cursor: pointer;
				border: 1px solid #d1d1d1;

				svg {
					width: 100%;
					height: 100%;

					path {
						fill: #000;
					}
				}

				&:hover {

					border-color: $colorYellow;
					background-color: $colorYellow;

					svg {
						width: 100%;
						height: 100%;

						path {
							//fill: $colorYellow;
						}
					}
				}
			}

			&-prev {
				right: 40px;
			}
			&-next {
				right: 0;
			}
		}

		&_small {

			.cards {

				&__slider{

				}

				&__item {
					padding: 0;

					&-inner {
						border-color: #d3d3d3;
						margin: 5px;
						padding: 10px;
						height: 115px;
						text-align: left;
					}

					&-img {
						float: left;
						width: 27%;
						height: 95px;
						margin-bottom: 0;
					}

					&-name {
						margin-left: 30%;
						margin-top: 10px;
						margin-bottom: 25px;
						padding-right: 35px;
					}

					&-count {
						margin-left: 30%;
						margin-top: 10px;
					}

					&-price {
						margin-left: 30%;

						&-old{
							position: absolute;
							bottom: 37px;
							font-size: 14px;
						}
					}

					&-link{
						width: 30px;
						height: 30px;
						background-size: 100%;
						left: auto;
						bottom:auto;
						right: 10px;
						top:15px;
					}

					&-cart{
						width: 30px;
						height: 30px;
						background-size: 100%;
						right: 10px;
						bottom:15px;
					}


					&:hover {

						.cards__item-inner {
							border-color: $colorYellow;
						}
					}
				}
			}
		}

		&_middle {

			background: #fff;
			@include border-radius(5px);
			@include box-sizing();
			height: 410px;
			padding: 23px 0 0;

			.cards {
				&__item {
					width: 100%;
					padding: 0;
				}

				&__title{
					height: 35px;
				}
			}

			.slick {
				&-arrow {
					top: 23px;
				}
				&-prev {
					//right: calc(7.5% + 40px);
					right: calc(20px + 40px);
				}
				&-next {
					//right: 7.5%;
					right: 20px;
				}
			}
		}

		&_large {
			.cards {
				&__item {
					width: 25%;

					&:hover {

						.cards__item-inner {
							border-color: $colorYellow;
						}
					}
				}

				&__title {
					@extend %title;

					padding: 0 10px;
					margin-bottom: 10px;

				}
			}
		}
	}



	&_fill{

		.cards__list{
			@include border-radius(5px);
			background-color: #fff;
			padding: 20px 15px;
		}

		.cards__title{
			margin: 0 10px 10px;
			padding: 0;
		}

		.cards__item-inner{
			border: 1px solid #d3d3d3;
		}

		.slick {
			&-arrow {
				top: 23px;
			}
			&-prev {
				//right: calc(7.5% + 40px);
				right: calc(20px + 40px);
			}
			&-next {
				//right: 7.5%;
				right: 20px;
			}
		}
	}

}

.cardslider {
	font-size: 0;

	&__item {
		font-size: 13px;
		display: inline-block;
		width: 25%;
		@include box-sizing();

		@include breakpoint($bp) {
			font-size: 14px;
		}
	}
}

.material {


	&__inner {
		background: #fff;
		padding: 40px 20px 20px;
		@include border-radius(5px);
	}

	&__title {
		font-family: 'helveticaneuecyr', sans-serif;
		color: #000;
		font-weight: 500;
		font-size: 30px;
	}

	&__view {
		margin-bottom: 25px;

		.material__title {
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
		}

		&-item {
			height: 30px;
			vertical-align: middle;
			display: inline-block;
			line-height: 30px;
			padding: 0 20px;
			@include border-radius(5px);
			cursor: pointer;
			@include user-select();

			&:hover {
				color: #000;
			}

			&.is-active {
				background: $colorYellow;
				color: #000;
			}
		}
	}

	&__list {
	}

	&__item {

		display: inline-block;
		vertical-align: top;
		font-size: 0;
		@include border-radius(100px);
		padding: 3px;
		margin: 10px 5px 10px 0;
		white-space: nowrap;
		@include box-sizing();
		position: relative;
		@include user-select();

		&.is-active,
		&:hover {
			border-color: $colorYellow;
			background: $colorYellow!important;

			.material__item-img {
				border-color: $colorYellow;
			}
		}

		&-img {
			width: 42px;
			height: 42px;
			background: no-repeat 50% 50%;
			background-size: 105%;
			display: inline-block;
			@include border-radius(50%);
			vertical-align: middle;
			border: 1px solid #d3d3d3;
			//border: 1px solid transparent;
		}

		&-name {
			display: none;
			vertical-align: middle;
			font-size: 12px;
			color: #000;
		}

		&-label {
			display: none;
			top: -13px;
			right: -3px;
			position: absolute;

		}
	}

	&_text {

		.material {

			&__item {
				border: 1px solid #d3d3d3;
				background-color: #fff;

				&-img {
					width: 34px;
					height: 34px;
					display: inline-block;
				}

				&-name {
					display: inline-block;
					font-size: 14px;
					margin: 0 10px;
				}

				&-label {
					display: block;
				}
			}
		}
	}

	&_notext {

		.material {

			&__item {

				margin-top: 8px;
				margin-bottom: 8px;

				&-img {

				}

				&-name {
					display: none;
				}

				&-label {
				}
			}
		}
	}
}

.textual {

	&__title{
		@extend %title;

		margin-bottom: 20px;

	}

	&__inner {
		background: #fff;
		@include border-radius(5px);
		padding: 25px 20px;

		h3 {
			color: #000;
			font-size: 1.538em;
			font-family: 'helveticaneuecyr', sans-serif;
			font-weight: 500;
			margin: 0 0 25px;
		}

		a {
			&:hover{
				text-decoration: underline;
			}
		}

		p {
			margin: 15px 0;
		}

		ul {
			margin: 20px 0;
			li {
				margin-bottom: 20px;
				padding-left: 15px;
				position: relative;

				&:before {
					content: '';
					width: 6px;
					height: 6px;
					@include border-radius(50%);
					background: #b1b1b1;
					display: block;
					position: absolute;
					top: 3px;
					left: 0;
				}
			}
		}

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}

.order {

	&__title {

		@extend %title;

		padding: 0 10px;
		margin-bottom: 10px;

	}

	&__list {
		font-size: 0;
		margin-bottom: 30px;
		position: relative;
	}

	&__remove{
		margin: -4px 20px 0 auto;
		position: absolute;
		right: 20px;
		top:-50px;


		@include breakpoint($bp){
			margin: -10px 20px 0 auto;
			right: 30px;
		}

		&-btn{

			width: 44px;
			height: 44px;
			@include border-radius(50%);
			background: #fff;
			line-height: 44px;
			text-align: center;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: #a8a8a8;
				@include transform(rotate(45deg));
			}

			&:before {
				width: 20px;
				height: 2px;
				margin-left: -10px;
				margin-top: -1px;
			}

			&:after {
				width: 2px;
				height: 20px;
				margin-left: -1px;
				margin-top: -10px;
			}

			&:hover {
				background-color: $colorRed;

				&:before,
				&:after {
					background-color: #fff;
				}
			}
		}

		&-popup{
			width: 430px;
			padding: 30px 40px;
			@include box-sizing();
			@include border-radius(5px);
			background-color: #fff;
			position: absolute!important;
			right: 55px;
			top:0;
			display: none;

			&.f-active{
				display: block;
			}

			&-close{

				@extend %roundBtn;

				position: absolute;
				top:0;
				right: -55px;


			}

			&-title{
				@extend %title;
				margin-bottom: 15px;
			}

			&-text{
				font-size: 13px;
				margin-bottom: 35px;
				color: #000;

				@include breakpoint($bp){

					font-size: 14px;
				}
			}

			&-btn{
				.btn{
					margin-right: 10px;
				}
			}
		}
	}

	&__item {

		&-inner {
			background: #fff;
			@include border-radius(5px);
			font-size: 13px;
			height: 140px;
			padding: 15px 10px;
			@include box-sizing();

			@include breakpoint($bp){
				font-size: 14px;
			}
		}

		&-goods {
			@include box-sizing();
			width: 25%;
			display: inline-block;
			vertical-align: top;

			&-img {
				width: 40%;
				height: 110px;
				float: left;

				@extend %middleImg;
			}
			&-firm {
				margin-left: 45%;
				color: $colorLight;
				margin-bottom: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 11px;

				@include breakpoint($bp){
					font-size: 12px;
				}
			}
			&-name {
				margin-left: 45%;
				color: #000;
				overflow: hidden;
				margin-bottom: 5px;
				height: 46px;

				@include breakpoint($bp){
					height: 63px;
				}

				&:before {
					content: '';
					vertical-align: middle;
					display: inline-block;
					height: 100%;
				}

				span {
					vertical-align: middle;
					display: inline-block;
					max-width: 95%;
				}
			}
			&-price {
				margin-left: 45%;

				.price {
					&-old {
						font-family: 'helveticaneuecyr', sans-serif;
						font-weight: 300;
						color: $colorLight;
						text-decoration: line-through;
						margin-right: 10px;
						display: block;

						@include breakpoint($bp){
							display: inline-block;
						}
					}
					&-act {
						font-weight: 600;
						font-family: 'helveticaneuecyr', sans-serif;
						color: #000;
						font-size: 21px;
						margin-right: 10px;
						display: inline-block;

						@include breakpoint($bp){
							font-size: 24px;
						}
					}
					&-measure {
						font-size: 12px;
						color: #000;
						display: inline-block;
					}
				}
			}
		}

		&-info {
			@include box-sizing();
			width: 75%;
			display: inline-block;
			vertical-align: top;

			.order__item-inner {
				padding-top: 30px;

				@include breakpoint($bp){
					padding-top: 35px;
				}
			}
		}
	}

	&__address {
		margin-bottom: 30px;

		&-form{
			width: ( 2 * 100% / 3 );
		}
	}

	&__contact {
		margin-bottom: 30px;

		&-form{
			width: ( 2 * 100% / 3 );
		}
	}

	&__legend{
		font-size:0;

		&-item{

			@include box-sizing();
			display: inline-block;
			font-size: 13px;
			width: ( 100% / 3);
			vertical-align: top;

			@include breakpoint($bp){
				font-size: 14px;
			}


			&_add{
				.order__legend-ico{
					img{
						background: $colorYellow;
					}

					&:hover{
						img{
							background: $colorYellowHover;
						}
					}
				}
			}
			&_faq{
				.order__legend-ico{
					img{
						background: #ededed;
					}

					&:hover{
						img{
							background: $colorYellow;
						}
					}
				}
			}
			&_result{
				padding-left: 30px;
				.order__legend{

					&-inner{
						background: $colorYellow;
					}

					&-text{
						margin: 0 0 20px 0;
						height: auto;
					}

					&-val{
						@extend %title;
					}

				}
			}
		}

		&-inner{
			background: #fff;
			height: 100px;
			@include border-radius(5px);
			padding: 20px;
			@include box-sizing();
		}

		&-ico{
			display: block;
			float: left;
			padding-top: 8px;

			img{
				display: inline-block;
				width: 44px;
				height: 44px;
				@include border-radius(50%);
			}
		}

		&-text{
			margin-left: 20%;
			height: 100%;
			color: #000;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				max-width: 95%;
				max-height: 100%;
				font-family: 'helveticaneuecyr', sans-serif;
				font-weight: 500;

				font-size: 15px;
				@include breakpoint($bp) {
					font-size: 17px;
				}
			}

		}
	}


	&__add{

		@include box-sizing();
		font-size: 13px;

		@include breakpoint($bp) {
			font-size: 14px;
		}

		&-inner{
			background: #fff;
			@include border-radius(5px);
			padding: 20px 10px;
			border: 1px solid $colorYellow;
			@include transition(background-color 0.3s ease);
		}

		&.lightning{
			.order__add-inner{
				background: $colorYellowHover;
			}
		}

		&-head{
			margin-bottom: 25px;
		}

		&-title{

			@extend %title;

			padding: 0 20px;
			display: inline-block;
			margin-right: 30px;
			vertical-align: middle;

		}

		&-category{
			display: inline-block;
			vertical-align: middle;

			&-item{
				@extend %tabLink;
			}
		}
	}


	&_bg{
		background: $colorYellow;
		margin: 10px -10px;
		padding: 20px 10px;

		@include breakpoint($bp) {
			margin: 20px -20px;
			padding: 20px;
		}

		.order__list{
			margin-bottom: 0;
		}

		.order__buy{
			text-align: right;
			margin-top: 10px;

			.btn{
				margin: 0 5px ;

				@include breakpoint($bp) {
					margin: 0 10px;
				}
			}
		}
	}
}



.cost {
	font-size: 0;

	.btn{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	&__row {
		font-size: 13px;
		@include box-sizing();
		padding: 0 5px;
		display: inline-block;
		vertical-align: top;

		@include breakpoint($bp){
			font-size: 14px;
			padding: 0 10px;
		}
	}
	&__col {
		white-space: nowrap;

		&_name {
			color: #000;
			margin-bottom: 8px;
			padding: 0 10px;
		}

		&_mid {
			color: #000;
			margin-bottom: 8px;
		}

		&_note {
			color: $colorLight;
			font-family: 'helveticaneuecyr', sans-serif;
			font-weight: 300;
		}
	}
	&__field {

		height: 44px;
		line-height: 42px;
		background-color: #fff;
		border: 1px solid #d3d3d3;
		@include box-sizing();
		@include border-radius(100px);
		padding: 0 20px;
		position: relative;
		@include user-select();
		cursor: pointer;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&-val{
			display: inline;
		}

		.c-length,
		.c-material{
			width: 36px;
			height: 36px;
			display: inline-block;
			line-height: 36px;
			text-align: center;
			@include border-radius(50%);
			border: 1px solid #d3d3d3;
			vertical-align: middle;
			margin: 0 8px 0 -18px;
			position: relative;
			top: -2px;
			background: 50% 50% no-repeat;
			background-size: cover;
		}

		&:hover {
			border-color: $colorYellow;
		}

		&.is-error{
			border-color: $colorRed;
		}

		&.is-disable {
			border-color: transparent !important;
			padding: 0 10px;
			cursor: default;
			font-weight: 600;
			font-size: 18px;
			@include breakpoint($bp){
				font-size: 20px;
			}

			.cost__field-handle{
				display: none;
			}
		}

		&.is-clean,
		&.is-multiple{

			padding-right: 75px;

			.c-material{
				display: none;
			}

			.cost__field-handle{
				display: block;
			}
		}

		&.is-clean{
			.c-length{
				background-color: #d3d3d3;
			}

		}

		&.is-multiple{
			.c-length{
				background-color: $colorYellow;
			}

			.cost__field-clear{
				display: block;
			}
			.cost__field-handle{
				right: 44px;
			}
		}




		&_select {
			padding-right: 45px;

			.cost__field-clear,
			.cost__field-handle {
				position: absolute;
				@include border-radius(50%);
				background-color: #ededed;
				width: 30px;
				height: 30px;
				top: 6px;
				right: 9px;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					background-color: #a8a8a8;
				}

				&:before {
					width: 12px;
					height: 2px;
					margin-left: -6px;
					margin-top: -1px;
				}

				&:after {
					width: 2px;
					height: 12px;
					margin-left: -1px;
					margin-top: -6px;
				}

				&:hover{
					background-color: $colorYellow;
					&:before,
					&:after {
						background-color: #000;
					}
				}
			}

			.cost__field-clear{
				display: none;

				&:before,
				&:after {
					@include transform(rotate(45deg));
				}

				&:hover{
					background-color: $colorRed;
					&:before,
					&:after {
						background-color: #fff;
					}
				}
			}


		}

		&_search {
			input {
				background: none;
				width: 100%;
			}

		}

		&_input {
			input {
				background: none;
				width: 100%;
				font-size: 18px;
				font-weight: 600;
			}

		}
		&_counter {
			padding: 0 35px;
			cursor: default;

			input {
				background: none;
				width: 100%;
				text-align: center;
				font-weight: 600;
				font-size: 18px;
				@include breakpoint($bp){
					font-size: 20px;
				}
			}

			.cost__field-handle {
				position: absolute;
				width: 30px;
				height: 30px;
				top: 6px;
				cursor: pointer;

				&:hover {
					&:before,
					&:after {
						background-color: $colorYellow;
					}
				}

				&_dekr {
					left: 9px;

					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						background-color: #a8a8a8;
						width: 12px;
						height: 2px;
						margin-left: -6px;
						margin-top: -1px;
					}
				}

				&_inkr {
					right: 9px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						background-color: #a8a8a8;
					}

					&:before {
						width: 12px;
						height: 2px;
						margin-left: -6px;
						margin-top: -1px;
					}

					&:after {
						width: 2px;
						height: 12px;
						margin-left: -1px;
						margin-top: -6px;
					}
				}
			}
		}
	}
	&__result {
		@extend %title;

		line-height: 44px;
		padding-left: 10px;

	}

	&__remove {
		width: 44px;
		height: 44px;
		@include border-radius(50%);
		background: #ededed;
		line-height: 44px;
		text-align: center;
		cursor: pointer;
		position: relative;
		margin: -4px 20px 0 auto;

		@include breakpoint($bp){
			margin: -10px 20px 0 auto;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #a8a8a8;
			@include transform(rotate(45deg));
		}

		&:before {
			width: 20px;
			height: 2px;
			margin-left: -10px;
			margin-top: -1px;
		}

		&:after {
			width: 2px;
			height: 20px;
			margin-left: -1px;
			margin-top: -10px;
		}

		&:hover {
			background-color: $colorRed;

			&:before,
			&:after {
				background-color: #fff;
			}
		}
	}

	&__container{
		position: absolute;
		display: none;
	}




	&_perse{

		.cost__col_name{
			color: $colorGrey;
		}
	}


	&__list{
		position: absolute;
		z-index: 110;
		top: 0;
		left: 0;
		@include user-select();

		&-item{
			display: inline-block;
			min-width: 140px;
			padding: 0 20px;
			@include box-sizing();
			@include border-radius(100px);
			background: #fff;
			height: 44px;
			line-height: 44px;
			vertical-align: top;
			cursor: pointer;
			margin: 0 10px 20px 0;
			color: #000;
			position: relative;

			&:hover{
				background: $colorYellowHover;
			}

			&.is-active{
				background: $colorYellow;
			}

			&.is-disabled{
				cursor: default;
				background: #58799d!important;
				color: #1c4572;
				& > *{
					opacity: 0.15;
				}
			}
		}

		&-label{
			position: absolute;
			font-size: 11px;
			color: #fff;
			@include border-radius(100px);
			padding: 0 12px;

			height: 25px;
			line-height: 25px;

			right: -2px;
			top:-13px;

			&_hit{
				background-color: $colorGreen;
			}
			&_now{
				background-color: $colorBlue;
			}
		}

		&-material{
			width: 34px;
			height: 34px;
			background: no-repeat 50% 50%;
			background-size: 105%;
			@include border-radius(50%);
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			margin-left: -16px;
			border: 1px solid #d3d3d3;
			position: relative;
			top: -2px;
		}

		&-legend{

			margin-top: 20px;

			&-item{

				color: #fff;
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;

				i{
					width: 30px;
					height: 30px;
					display: inline-block;
					text-align: center;
					color: #000;
					font: inherit;
					line-height: 26px;
					@include border-radius(50%);
					vertical-align: middle;
					margin-right: 10px;
					position: relative;
					top: -2px;
				}

				&_1{
					i{
						background-color: #fff;
					}
				}

				&_2{
					i{
						background-color: #58799d;
					}
				}
			}
		}

		.btn{
			position: absolute;
			min-width: 140px;
		}
	}
}


.product{

	.link{
		color: $colorBlue;

		&:hover{
			text-decoration: underline;
		}
	}

	&__inner{
		background: #fff;
		@include border-radius(5px);
		font-size: 0;

		& > * {
			font-size: 13px;
			@include breakpoint($bp){
				font-size: 14px;
			}
		}
	}

	&__view{

		width: 50%;
		@include box-sizing();
		padding: 20px;
		position: relative;

		display: inline-block;
		vertical-align: top;


		&-label{
			position: absolute;
			top:20px;
			left:20px;
			max-width: 100%;
		}

		&-img{
			text-align: center;
			height: 400px;

			&:before{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			img{
				max-width: 100%;
				display: inline-block;
				max-height: 100%;
				vertical-align: middle;
			}
		}

		&-list{

			height: 110px;
			//overflow: hidden;

			.slick {

				&-slider {
					position: static;
				}

				&-list {
					@include border-radius(5px);
					-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
				}

				&-arrow {
					position: absolute;
					display: block;
					@include border-radius(50%);
					width: 30px;
					height: 30px;
					top: -35px;
					z-index: 10;
					color: transparent;
					cursor: pointer;
					border: 1px solid #d1d1d1;

					svg {
						width: 100%;
						height: 100%;

						path {
							fill: #000;
						}
					}

					&:hover {

						border-color: $colorYellow;
						background-color: $colorYellow;

						svg {
							width: 100%;
							height: 100%;

							path {
								//fill: $colorYellow;
							}
						}
					}
				}

				&-prev {
					right: 40px;
				}
				&-next {
					right: 0;
				}

				&-disabled{
					background: none!important;
					border-color: #020202!important;
					opacity: 0.1;
					cursor: default;
				}
			}
		}

		&-item{



			&.is-active{
				span{
					border-color: $colorYellow;
				}
			}

			span{
				display: block;
				margin: 5px;
				height: 100px;
				border: 2px solid $colorLight;
				font-size: 0;
				@include box-sizing();
				text-align: center;

				&:before{
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}

				img{
					display: inline-block;
					vertical-align: middle;
					max-height: 96%;
					max-width: 96%;
				}
			}
		}
	}


	&__info{
		@include box-sizing();
		padding: 20px;
		width: 50%;

		display: inline-block;
		vertical-align: top;

		font-size: 0;

		& > * {
			font-size: 13px;
			@include breakpoint($bp){
				font-size: 14px;
			}
		}
	}



	&__title{
		@extend %title;

		margin-bottom: 35px;

	}
	&__material{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		margin-left: -10px;

		&-item{
			@extend %tabLink;
		}
	}


	&__price{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: middle;


		&-val{
			@extend %title;
			display: inline-block;
			margin-right: 8px;

		}

		&-dim{
			display: inline-block;
		}

		&-available{

			&-title{
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}

			&-view{
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;

				.available{

					display: inline-block;
					height: 7px;
					width: ( 19px * 3 );
					background: url("/img/available_w.svg") repeat-x 0 0;
					position: relative;

					&:before{
						content: '';
						display: block;
						background: url("/img/available.svg") repeat-x 0 0;
						position: absolute;
						top:0;
						left: 0;
						height: 100%;
					}

					&_low{
						&:before{
							width: 33%;
						}
					}

					&_mid{
						&:before{
							width: 66%;
						}
					}

					&_max{
						&:before{
							width: 100%;
						}
					}
				}
			}

			&-status{
				display: inline-block;
				vertical-align: middle;
				color: #000;
			}

		}

	}


	&__colors{
		margin: 15px 0;
		float: left;
		width: 100%;
		@include box-sizing();


		.material{
			margin: 0;
			padding: 0;

			&__title{
				font: inherit;
				color: inherit;
				padding: 8px 0;
			}

			&__view{
				margin-bottom: 0px;

				&-item{
					display: none;
				}
			}

			&__inner{
				padding: 0;
				background: transparent;
			}

			&__list{
				height: 60px;
				padding: 10px 55px 10px 0;
				position: relative;
				overflow: hidden;

				&.is-active{
					display: inline-block;
				}
			}

			.btn_more{
				margin: 10px 5px 10px 0;
				position: absolute;
				top:11px;
				right: 0;
			}

			&__btn{
				display: none;
			}
		}
	}

	&__feedbacks{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: top;
		margin-top: 35px;


		&-stars{
			font-size: 0;
			display: inline-block;
			vertical-align: middle;

			.stars{
				background: url("/img/star_w.svg") repeat-x 0 0;
				width: 5 * 30px;
				height: 20px;
				position: relative;
				margin-left: -5px;

				&:before{
					content: '';
					display: block;
					background: url("/img/star.svg") repeat-x 0 0;
					position: absolute;
					top:0;
					left: 0;
					height: 100%;
				}

				&_0{
					&:before{
						width: 0;
					}
				}

				&_0-5{
					&:before{
						width: 10%;
					}
				}

				&_1{
					&:before{
						width: 20%;
					}
				}

				&_1-5{
					&:before{
						width: 30%;
					}
				}

				&_2{
					&:before{
						width: 40%;
					}
				}

				&_2-5{
					&:before{
						width: 50%;
					}
				}

				&_3{
					&:before{
						width: 60%;
					}
				}

				&_3-5{
					&:before{
						width: 70%;
					}
				}

				&_4{
					&:before{
						width: 80%;
					}
				}

				&_4-5{
					&:before{
						width: 90%;
					}
				}

				&_5{
					&:before{
						width: 100%;
					}
				}
			}
		}

		&-status{
			display: inline-block;
			vertical-align: middle;
		}
	}



	&__featurs{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: top;


		p{
			margin-bottom: 10px;

			span{
				color: #000;
			}
		}
	}


	&__delivery{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: top;


		&-title{
			font-weight: 600;
			color: #000;
			margin-bottom: 5px;
		}

		&-text{
			margin-bottom: 10px;
			font-size: 12px;
		}
	}

	&__pay{
		width: 50%;
		@include box-sizing();
		display: inline-block;
		vertical-align: top;


		&-title{
			font-weight: 600;
			color: #000;
			margin-bottom: 15px;
		}

		&-list{
			height: 45px;
			overflow: hidden;
			position: relative;
			padding-right: 50px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			height: 45px;

			@extend %middleImg;

			&:not(:last-child){
				margin-right: 20px;
			}
		}

		&-btn{
			display: none;
			margin-top: 20px;
		}

		.btn_more{
			position: absolute;
			right: 0;
			top:0;
		}
	}

	&__add{
		@include box-sizing();


		.cost{
			padding: 0 10px 10px;
		}
	}


	&__kit{

		.cards{
			padding: 0 15px 20px ;

			&__item{
				&_kit {

					display: inline-block;
					width: 25%;
					vertical-align: top;
					text-align: center;
					@include box-sizing();
					font-size: 13px;

					&:hover {
						.cards__item-link {
							opacity: 1;
						}

						.cards__item-cart {
							opacity: 1;
						}

						.cards__item-firm {
							color: $colorYellow;
						}
					}


					.cards__item {

						&-inner {
							background: #fff;
							@include box-sizing();
							@include border-radius(5px);
							height: 150px;
							//padding: 17px 7.5%;
							padding: 15px 10px;
							position: relative;
							border: 1px solid #d3d3d3;
						}

						&-img {
							margin-bottom: 18px;
							width: 35%;

							@extend %middleImg;
						}

						&-name {
							display: block;
							color: #000;
							text-decoration: none;
							overflow: hidden;
							height: 30px;
							margin-bottom: 10px;
							margin-top: 0px;
							margin-left: 40%;

							@include breakpoint($bp){
								height: 33px;
							}

							&:hover {
								text-decoration: underline;
							}
						}

						&-price {

							font-family: 'helveticaneuecyr', sans-serif;
							font-weight: 600;
							font-size: 21px;
							color: #000;
							margin-left: 40%;

							@include breakpoint($bp) {
								font-size: 24px;
							}
						}


						&-count{
							margin-left: 40%;
							.cost__col_mid{
								margin-bottom: 0;
							}
							.cost__row{
								padding: 0;
							}
						}

					}
				}
			}
		}
	}

}



.searcher{
	.search__close{
		display: none;
	}

	&.f-active{

		.search__close{
			display: inline-block;
		}
	}
}



.delivery{

	font-size: 0;

	&__inner{
		background: #fff;
		@include border-radius(5px);
		margin-bottom: 10px;
		overflow: hidden;

		@include breakpoint($bp) {
			margin-bottom: 20px;
		}
	}

	.half{


		&:nth-of-type(1){
			padding: 0 5px 0 0;

			@include breakpoint($bp) {
				padding: 0 10px 0 0;
			}
		}
		&:nth-of-type(2){
			padding: 0 0 0 5px;

			@include breakpoint($bp) {
				padding: 0 0 0 10px;
			}
		}


		.delivery__inner{

			padding: 0px 20px 20px;

			.delivery__title{
				padding: 0;
				margin: 20px 0 15px;
			}

			&_dim{
				padding-left: 40px;

				p{
					color: #000;
				}
			}

			&_mes{
				padding-left: 40px;
				border: 1px solid $colorYellow;

				color: #000;
			}

			&_att{
				padding-left: 40px;
				border: 1px solid $colorRed;

				* {
					color: $colorRed;
				}

			}
		}
	}

	&__title{
		@extend %title;
		padding: 0 10px;

	}

	&__subtitle{
		font-size: 18px;
		color: #000;
		font-family: 'helveticaneuecyr', sans-serif;
		font-weight: 500;
		margin: 25px 0 15px;

		@include breakpoint($bp) {
			font-size: 20px;
		}
	}

	b{
		font-size: 15px;
		color: #000;

		@include breakpoint($bp) {
			font-size: 16px;
		}
	}

	p {
		line-height: 1.5;
	}

	ul{
		margin: 10px 0;
		li{
			position: relative;
			padding-left: 20px;
			line-height: 1.5;


			&:before{
				content: '';
				width: 6px;
				height: 6px;
				background: $colorGrey;
				@include border-radius(50%);
				position: absolute;
				top:9px;
				left: 0;
			}
		}

		&.ul-measure{
			li{
				padding-left: 35px;
				&:before{
					top:0px;
					width: 25px;
					height: 16px;
					background: url("/img/delivery-mesure.svg") 50% 50% no-repeat;
				}
			}
		}
	}



	&__ico{
		width: 90px;
		float: left;

		img{
			max-width: 100%;
		}

		& ~ .delivery__text{
			margin-left: 110px;
		}
	}


}

.half{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	@include box-sizing();
	min-height: 1px;

	font-size: 13px;

	@include breakpoint($bp) {
		font-size: 14px;
	}
}


.form{
	font-size: 0;

	&__field{
		display: inline-block;
		@include box-sizing();
		vertical-align: top;
		font-size: 13px;

		@include breakpoint($bp){
			font-size: 14px;
		}

		&-inner{
			position: relative;
			@include border-radius(100px);
			background-color: #fff;
		}

		&-placeholder{
			position: absolute;
			top:0;
			left: 0;
			padding: 0 20px;
			height: 100%;
			line-height: 44px;
			z-index: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100%;
			@include box-sizing();

			span{
				font-size: 20px;
				position: absolute;
				color: $colorYellow;
				margin-left: 3px;
			}
		}
		&-message{
			position: absolute;
			top:0;
			right: 0;
			padding: 0 20px;
			height: 100%;
			line-height: 44px;
			z-index: 1;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include box-sizing();
			display: none;
			font-size: 12px;
		}

		.input,
		input{
			height: 44px;
			line-height: 42px;
			padding: 0 20px;
			border: 1px solid transparent;
			@include box-sizing();
			width: 100%;
			position: relative;
			@include border-radius(100px);
			z-index: 2;

			.popup &,
			.fill &{
				border-color: #d3d3d3;

			}

			&:focus{
				& + {
					.form__field-placeholder{
						display: none;
					}
				}
			}
		}


		textarea {
			height: 160px;
			line-height: 1.2;
			padding: 15px 20px;
			border: 1px solid transparent;
			@include box-sizing();
			width: 100%;
			position: relative;
			@include border-radius(20px);
			z-index: 2;

			.popup &,
			.fill &{
				border-color: #d3d3d3;

			}

			&:focus{
				& + {
					.form__field-placeholder{
						display: none;
					}
				}
			}
		}

		.btn{
			width: 100%;

			.popup &,
			.fill &{
				border-color: transparent;
			}
		}

		@include breakpoint($bp) {
			font-size: 14px;
		}



		&.error{
			color: $colorRed;
			input{
				border-color: $colorRed;
			}
			.form__field-message{
				display: block;
			}
		}

		&.success{
			input{
				border-color: $colorYellow;
			}
		}

		&.filled{
			.form__field-placeholder{
				display: none;
			}
		}

		&_file{

			&.is-progress{
				.input__progress{
					display: block;
				}

				.input__name,
				.input__stop,
				.input__remove{
					display: none;
				}
			}
		}


		.input{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			white-space: nowrap;


			&__progress{
				display: none;
				height: 20px;
				border: 1px solid #d3d3d3;
				border-radius: 5px;
				position: absolute;
				top: 10px;
				left: 20px;
				width: 80%;
				background: #fff;

				&-line{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background: $colorYellow;
					border-radius: 3px;
				}

				&-stop{
					width: 20px;
					height: 20px;
					line-height: 40px;
					position: absolute;
					top: 0;
					right: -30px;
					cursor: pointer;

					&:before,
					&:after{
						content: '';
						height: 20px;
						width: 2px;
						margin-left: -1px;
						margin-top: -10px;
						background: #000;
						position: absolute;
						top: 50%;
						left: 50%;
					}

					&:before{
						@include transform(rotate(45deg));
					}
					&:after{
						@include transform(rotate(-45deg));
					}
				}

			}

			&__name{

				vertical-align: middle;
				display: inline-block;
				margin-right: 10px;
				max-width: 190px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&__stop{
				width: 20px;
				height: 20px;
				line-height: 40px;
				vertical-align: middle;
				display: inline-block;
				position: relative;
				cursor: pointer;

				&:before,
				&:after{
					content: '';
					height: 20px;
					width: 2px;
					margin-left: -1px;
					margin-top: -10px;
					background: #000;
					position: absolute;
					top: 50%;
					left: 50%;
				}

				&:before{
					@include transform(rotate(45deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}

			&__remove{
				font-size: 14px;
				background: #ebebeb;
				border-radius: 5px;
				height: 22px;
				line-height: 22px;
				position: absolute;
				top: 10px;
				right: 20px;
				cursor: pointer;
				padding: 0 10px;
			}

			&_file{

				position: relative;

				input{
					position: absolute;
					top: 0;
					left: 0;
					border: 0;
					background: 0;
					padding: 0;
					margin: 0;
					opacity: 0;
					width: 1px;
					height: 1px;
				}



			}
			&__message{
				vertical-align: middle;
				display: inline-block;
				color: $colorGrey;
				margin: 0 10px;
			}
		}

		&_add{

			.input{
				&_file{
					display: inline-block;
					width: 45%;
					cursor: pointer;
					text-align: center;
				}
			}

		}
	}
}


.comment{

	&__title{
		@extend %title;
		padding: 10px 10px 7px;

		span{
			color: $colorYellow;
			margin: 0 10px;
			display: inline-block;
		}

	}

	&__btn{
		position: absolute;
		top:25px;
		right: 20px;
	}

	hr{
		border: none;
		height: 1px;
		background: #f4f4f4;
		display: block;
		margin: 25px -15px;
	}

	&__item{

		overflow: hidden;

		&-name{
			font-size: 18px;
			color: #000;
			font-family: 'helveticaneuecyr', sans-serif;
			font-weight: 600;
			margin-bottom: 8px;

			@include breakpoint($bp) {
				font-size: 20px;
			}
		}

		&-author{
			float: left;
			width: 25%;
			@include box-sizing();
			padding: 5px 0 0 10px;
			padding-right: 50px;
		}

		&-info{
			margin-left: 25%;
			@include box-sizing();
			padding: 5px;
		}

		&-text{
			margin-bottom: 15px;
			color: #000;
			position: relative;
			line-height: 1.35;

			&:before{
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				top:0;
				left: -32px;
				background: no-repeat 50% 50%;
			}

			&_comm{
				&:before{
					background-image: url("/img/ico-comment-main.svg");
				}
			}

			&_advant{
				&:before{
					background-image: url("/img/ico-comment-advant.svg");
				}
			}

			&_limit{
				&:before{
					background-image: url("/img/ico-comment-limit.svg");
				}
			}
		}

		&-rating{
			margin-top: 35px;
		}

		&-like,
		&-dislike{
			width: 44px;
			height: 44px;
			display: inline-block;
			vertical-align: top;
			@include border-radius(50%);
			border: 1px solid #d3d3d3;
			position: relative;

			span{
				font-size: 10px;
				height: 22px;
				display: inline-block;
				@include border-radius(50%);
				color: #000;
				line-height: 22px;
				text-align: center;
				background: #d3d3d3;
				position: absolute;
				top:-5px;
				@include box-sizing();
				padding: 0 5px;
				min-width: 22px;
				right: -9px;
			}

			&:hover{
				span{
					background-color: $colorYellow;
				}
			}
		}

		&-like{
			background: url("/img/ico-like.svg") no-repeat 50% 50%;
			margin-right: 20px;
		}

		&-dislike{
			background: url("/img/ico-dislike.svg") no-repeat 50% 50%;
		}

	}



	&__pager{
		padding: 0 5px 10px;

		.pager{
			padding: 0;
			margin: 0;
		}
	}
}


.pager{

	&_perse{

		padding: 0 10px;
		margin: 30px 0;
	}

	&__item{
		width: 42px;
		height: 42px;
		@include border-radius(50%);
		@include box-shadow(0 1px 3px rgba(0,0,0,.4));
		line-height: 42px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		font-weight: 700;
		color: #000;
		font-family: 'Roboto', sans-serif;
		margin-right: 15px;
		background: #fff no-repeat 50% 50%;
		background-size: contain;

		&_dots{
			line-height: 35px;
			@include box-shadow(none);
			background-color: transparent!important;
		}
		
		&_prev{
			background-image: url("/img/ico-arrow-prev.svg");
		}
		&_next{
			background-image: url("/img/ico-arrow-next.svg");
		}

		&.is-active{
			background-color: $colorYellow!important;
			@include box-shadow(none);
		}

		&:hover{
			background-color: $colorYellowHover;
		}
	}
}







.contact{

	color: #000;
	position: relative;

	&__title{
		@extend %title;
		margin-bottom: 20px;

	}

	&__subtitle{
		font-size: 15px;
		color: #000;
		font-family: 'helveticaneuecyr', sans-serif;
		font-weight: 500;
		margin-bottom: 10px;

		@include breakpoint($bp) {
			font-size: 16px;
		}
	}


	&__text{
		margin-bottom: 20px;
	}




	&__feedback{
		margin: 0 -10px;
		max-width: 350px;
	}


	&__map{
		background: #d3d3d3;
		height: 100%;
		position: absolute;
		top:0;
		right: 0;
		width: 50%;
		bottom: 0;

		@include border-radius(0 5px 5px 0);
	}
}






[data-tab-targ]{
	display: none;

	&.is-active{
		display: block;
	}
}





.overlay{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#1f4c7e, 0.9);

	z-index: 100;
	display: none;


	.f-shadow &{
		display: block;
	}
}


.f-active{
	position: relative;
	z-index: 110;

	&.f-product-material{
		.material__item-img{

			.material_notext & {
				border-color: transparent;
			}
		}
		.material__view-item{
			display: inline-block;
		}
		.material__title{
			color: #fff;
		}
		.material__view-item{
			border: 1px solid #a8a8a8;
			color: #a8a8a8;
			margin-right: 10px;
			&:hover{
				color: #fff;
			}

			&.is-active{
				border-color: transparent;
				color: #000;
			}
		}

		.material__list{
			overflow: visible;
		}

		.material__item{
			border-color: transparent;
		}

		.btn_more{
			display: none;
		}

		.material__btn{
			display: block;
			margin-top: 20px;
		}
	}



	&.f-product-pay{

		.product__pay-list{
			overflow: visible;
		}

		.product__pay-title{
			color: #fff;
		}

		.btn_more{
			display: none;
		}

		.product__pay-btn{
			display: block;
		}
	}
}





.search{
	font-size: 0;

	& > * {
		font-size: 13px;
		@include breakpoint($bp){
			font-size: 14px;
		}
	}

	&__input{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 5px;
		@include box-sizing();
		@include breakpoint($bp){
			padding: 0 10px;
		}

		input{
			height: 44px;
			line-height: 42px;
			padding: 0 20px;
			background-color: #fff;
			@include box-sizing();
			width: 100%;
			position: relative;
			@include border-radius(100px);
			z-index: 2;
			border: 1px solid #d3d3d3;


			.f-active & {
				border-color: transparent;
			}
		}
	}

	&__submit{
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
		@include box-sizing();
		@include breakpoint($bp){
			padding: 0 10px;
		}

		.btn{
			width: 180px;
		}
	}

	&__close{

		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
		@include breakpoint($bp){
			margin: 0 10px;
		}

		.btn{

			padding: 0;

			width: 44px;
			height: 44px;
			@include border-radius(50%);
			background: $colorYellow;
			line-height: 44px;
			text-align: center;
			cursor: pointer;
			position: relative;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: #000;
				@include transform(rotate(45deg));
			}

			&:before {
				width: 20px;
				height: 2px;
				margin-left: -10px;
				margin-top: -1px;
			}

			&:after {
				width: 2px;
				height: 20px;
				margin-left: -1px;
				margin-top: -10px;
			}

			&:hover {
				background-color: $colorYellowHover;


			}
		}


	}
}


.hint{
	display: inline-block;
	position: relative;

	&__label{
		color: #000;
		cursor: pointer;
		width: 20px;
		text-align: center;
		height: 20px;
		border-radius: 50%;
		line-height: 20px;
		background: $colorYellow;

		&:hover{
			background: $colorYellowHover;
		}
	}

	&__close{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 5px;
		right: 5px;
		cursor: pointer;

		&:before,
		&:after{
			content: '';
			height: 20px;
			width: 2px;
			margin-left: -1px;
			margin-top: -10px;
			background: $colorGreyLight;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}
	}

	&__text{
		padding: 30px 10px;
		position: absolute;
		display: none;
		background: #fff;
		bottom: 0px;
		left: 50px;
		text-align: left;
		border-radius: 3px;
	}

	&__inner{
		font-size: 12px;
		width: 200px;
		max-height: 180px;
		overflow: hidden;
	}

	&.is-open{
		.hint__text{
			display: block;
		}
	}
}






.examples{

	&__inner{
		background: #fff;
		@include border-radius(5px);
		padding: 20px;
	}

	&__title{
		@extend %title;
		padding: 10px 30px 7px 0;
		display: inline-block;
		vertical-align: middle;

		span{
			color: $colorYellow;
			margin: 0 10px;
			display: inline-block;
		}

	}



	&__brands{
		display: inline-block;
		vertical-align: middle;

		&-item{
			@extend %tabLink;
		}
	}


	&__colors{
		margin: 15px 0;
		width: 100%;
		@include box-sizing();

		.material{
			margin: 0;
			padding: 0;

			&__title{
				font: inherit;
				color: inherit;
				padding: 8px 0px;
			}

			&__view{
				margin-bottom: 0px;

				&-item{
					display: none;
				}
			}

			&__inner{
				padding: 0;
				background: transparent;
			}

			&__list{
				height: 60px;
				padding: 10px 55px 10px 0;
				position: relative;
				overflow: hidden;
				margin-left: -3px;

				&.is-active{
					display: inline-block;
				}
			}

			.btn_more{
				margin: 10px 5px 10px 0;
				position: absolute;
				top:11px;
				right: 0;
			}

			&__btn{
				display: none;
			}
		}
	}




	&__gallery{

		&-list{
			white-space: nowrap;
			font-size: 0;
			overflow: hidden;
		}

		&-item{
			display: inline-block;
			vertical-align: top;
			padding-right: 10px;

			&:last-child{
				padding-right: 0;
			}
		}

		&-img{
			border: 1px solid #d3d3d3;
			border-radius: 5px;
			position: relative;
			cursor: pointer;

			height: 12.58vw;
			min-height:181px;

			&:hover{

				&:before{
					content: '';
					display: block;
					background: rgba($colorYellow, 0.2);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				&:after{
					content: '';
					display: block;
					background: url("/img/gallery_zoom.svg") no-repeat 0 0;
					background-size: contain;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
				}
			}

			img{
				display: block;
				border-radius: 3px;
				height: 100%;
			}
		}
	}

}



.is-hide{
	display: none;
}