

.tooltip{
	position: absolute;
	display: none;
	text-align: center;
	margin-top: 12px;
	z-index: 120;

	&:before,
	&:after {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		left: 0;
		margin-left: -6px;
		top:-11px;
	}
	&:before {
		top:-12px;
		border-bottom-color: #e8e8e8;
	}

	span{
		display: inline-block;
		padding: 7px 15px;
		background: #fff;
		position: relative;
		left: -50%;
		@include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
		@include border-radius(15px);

		font-size: 13px;
	}

	&.show{
		display: block;
	}

}





.overflow_hidden {
	overflow: hidden;
}

.popup{
	display: none;
	color: #343434;

	z-index: 999;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	&__inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		//z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout{
		@include border-radius(5px);
		@include box-sizing();
		background-color: #fff;
		box-sizing: border-box;
		display: inline-block;
		margin: 60px auto;
		padding: 30px 40px;
		text-align: left;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 430px;
		//z-index: 102;
	}


	&__content{

	}

	&__title{
		@extend %title;
		margin-bottom: 25px;
	}

	&__text{
		margin-bottom: 25px;
	}

	&__close{
		@extend %roundBtn;

		position: absolute;
		top: 0px;
		right: -55px;

	}

	&__overlay{
		background: rgba(#1f4c7e, 0.9);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		//z-index: 101;

	}

	&__form{

		.form__field {
			padding: 10px 0;
		}
	}


	&__soc{
		margin-top: 20px;

		&-list{

		}

		.popup__text{
			margin-bottom: 15px;
		}

		&-item{
			width: 44px;
			height: 44px;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			background: $colorGreyLight;
			border-radius: 50%;
			margin-right: 10px;

			&:hover{
				background-color: $colorYellow;
			}

			img{
				display: inline-block;
			}
		}
	}

	.f-active{
		& > * {
			position: relative;
		}

		&:before{
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#1f4c7e, 0.9);
		}
	}
}

.popup_installation{
	.dragbox{
		position: absolute;
		top: 5px;
		left: 5px;
		background: rgba(#fff, 0.9);
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border: 3px dashed #b7b7b7;
		@include box-sizing();
		border-radius: 5px;
		z-index: 10;
		display: none;

		font-size: 0;

		&.is-active{
			border-color: $colorBlue;
		}

		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		&__inner{
			font-size: 30px;
			font-weight: 600;
			color: #000;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			width: 100%;
		}
	}


	.hint{
		float: right;
		margin-top: 12px;

		&__text{
			left: 70px;
		}
	}
}


.popup_info{
	.popup__title{
		font-size: 36px;
		text-align: center;
	}
	.popup__text{
		font-size: 24px;
		text-align: center;
	}
}




.popup_gallery{

	.popup{

		&__content{
			height: 100%;
		}

		&__layout{
			border-radius: 0;
			width: 100%;
			height: calc(100% - 140px);
			margin-top: 0;
			margin-bottom: 140px;
			padding-top: 80px;
		}

		&__close{
			top: 50px;
			right: 45px;
		}
	}

	.gallery{
		height: 100%;

		&__main{
			height: 100%;
		}

		&__preview{
			width: calc(100% - 370px);
			float: left;
			height: 100%;
			position: relative;


			&-slider{
				height: 100%;
			}

			&-control{
				&-arrow{
					width: 100px;
					height: 100px;
					position: absolute;
					top: 50%;
					margin-top: -50px;
					z-index: 1;
					cursor: pointer;

					svg{
						width: 100%;
						height: 100%;
					}

					&_prev{
						left: 20px;
					}
					&_next{
						right: 20px;
					}
				}
			}

			&-list{
				height: 100%;
			}

			&-item{
				height: 100%;
			}

			&-img{
				height: 100%;
				text-align: center;

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					display: inline-block;
					vertical-align: middle;
					max-height: 100%;
					max-width: 100%;
					border-radius: 5px;
				}
			}
		}

		&__info{
			width: 370px;
			float: right;
			height: 100%;


			&-material{
				height: 112px;
			}


			&-description{
				height: 100%;

				&-about{
					border: 1px solid $colorGreyLight;
					border-radius: 5px;
					padding-right: 10px;
					max-height: calc(100% - 170px);
					overflow: hidden;


					.title{
						margin: 0 0 15px;
						padding: 0;
					}


					ul{
						margin: 15px 0;
						li{
							margin: 10px 0;
						}
					}
				}

				&-text{
					padding: 20px 10px 20px 20px;
				}

				&-btns{
					margin: 20px 0;

					.btn{
						padding: 0;
						margin: 0 10px 10px 0;
						width: 44px;
						height: 44px;
						line-height: 44px;
						background: $colorLight no-repeat 50% 50%;
						background-size: contain;

						&.gallery__info-description-download{
							background-image: url("/img/gallery_download.svg");
							background-position: 1px -2px;
						}

						&.gallery__info-description-share{
							background-image: url("/img/gallery_share.svg");
							background-position: -2px 0;
						}
					}
				}
			}
		}


		&__carousel{
			position: absolute;
			bottom: -140px;
			height: 140px;
			overflow: hidden;
			left: 0;
			right: 0;

			&-slider{
				padding: 10px 90px;
				width: 885px;
				margin: 0 auto;

				@include breakpoint(1400px){
					width: 1225px;
				}

				@include breakpoint(1800px){
					width: 1590px;
				}
			}

			&-control{

				&-arrow{

					position: absolute;
					width: 28px;
					height: 28px;
					border: 1px solid $colorGreyLight;
					border-radius: 50%;
					background: #fff;
					cursor: pointer;
					top: 50%;
					margin-top: -15px;

					&_prev{
						left: 30px;
					}

					&_next{
						right: 30px;
					}
				}
			}

			&-list{

			}

			&-item{
				padding: 10px 5px;
				margin-top: 0;
				@include transition(margin-top .3s ease);

				&:hover,
				&.slick-current{
					margin-top: -9px;

				}

				&.slick-current{
					.gallery__carousel-img{
						border-color: $colorYellow;
					}
				}
			}

			&-img{
				width: 166px;
				height: 100px;
				@include box-sizing();
				font-size: 0;
				background: #fff;
				border: 2px solid $colorGreyLight;
				border-radius: 5px;
				text-align: center;

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					display: inline-block;
					vertical-align: middle;
					max-height: 100%;
					max-width: 100%;
					border-radius: 5px;
				}
			}
		}
	}

	.material{
		margin: 0;
		padding: 0;
		height: 112px;

		&__title{
			font: inherit;
			color: inherit;
			padding: 8px 0px;
		}

		&__view{
			margin-bottom: 0px;

			&-item{
				display: none;
			}
		}

		&__inner{
			padding: 0;
			background: transparent;
		}

		&__list{
			height: 60px;
			padding: 10px 55px 10px 0;
			position: relative;
			overflow: hidden;
			margin-left: -3px;
			margin-top: -10px;

			&.is-active{
				display: inline-block;
			}
		}

		.btn_more{
			margin: 10px 5px 10px 0;
			position: absolute;
			top:11px;
			right: 0;
		}

		&__btn{
			display: none;
		}
	}
}